@charset "UTF-8";
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
.table-row {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 not supported by any browser */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  appearance: normal;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .table-row:after, .table-row:before {
    display: table;
    content: ' '; }
  .table-row:after {
    clear: both; }
  .table-row > *:not(input),
  .table-row > *:not(textarea),
  .table-row > *:not(select) {
    -webkit-text-size-adjust: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: transparent; }
  .table-row--tiny {
    padding: 0.3333333333rem; }
  .table-row--small {
    padding: 0.6666666667rem; }
  .table-row--large {
    padding: 1.3333333333rem; }
  .table-row--huge {
    padding: 2rem; }
  .table-row--flush {
    line-height: normal; }
  .table-row--header {
    box-sizing: border-box; }
  .table-row--tappable {
    cursor: pointer; }
    .table-row--tappable:active {
      color: white;
      background: #0a9ec1; }
    .table-row--tappable:active {
      background-color: #0a9ec1; }
      .table-row--tappable:active .table-row__body,
      .table-row--tappable:active .table-row__label,
      .table-row--tappable:active .table-row__subtitle,
      .table-row--tappable:active .table-row__title {
        color: var(--px-table-row-selected-color, white); }
  .table-row--chevron {
    overflow: hidden;
    cursor: pointer; }
    .table-row--chevron:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #b1b1bc);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
    .table-row--chevron:active {
      color: white;
      background: #0a9ec1; }
  .table-row--detail {
    cursor: pointer;
    overflow: hidden; }
    .table-row--detail:active {
      color: white;
      background: #0a9ec1; }
    .table-row--detail:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #0a9ec1);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
  .table-row--nav-right {
    overflow: hidden; }
    .table-row--nav-right:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #b1b1bc);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
  .table-row--collapsable {
    cursor: pointer;
    overflow: hidden; }
    .table-row--collapsable:active {
      color: white;
      background: #0a9ec1; }
    .table-row--collapsable:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #b1b1bc);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
    .table-row--collapsable ::content .table-row__body,
    .table-row--collapsable .table-row__body {
      transition: var(--px-table-row-collapseable-transition, all 0.3s);
      display: none !important; }
    .table-row--collapsable--is-opened {
      overflow: hidden; }
      .table-row--collapsable--is-opened:before {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 0.6666666667rem;
        top: 50%;
        color: var(--px-table-row-indicator-color, #b1b1bc);
        line-height: 1.8666666667rem;
        height: 1.8666666667rem;
        font-size: 1.8666666667rem;
        font-family: FontAwesome;
        content: var(--px-table-row-indicator, ""); }
      .table-row--collapsable--is-opened ::content .table-row__body,
      .table-row--collapsable--is-opened .table-row__body {
        display: block; }
  .table-row--top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .table-row--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-row--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-row__content {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .table-row__content--row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .table-row__content--column {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .table-row__content--flush {
      line-height: normal; }
  .table-row__title {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    line-height: normal;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .table-row__subtitle {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    white-space: nowrap;
    line-height: normal;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .table-row__body {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    white-space: normal;
    line-height: normal; }
  .table-row__label {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .table-row__label--right {
      text-align: left;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4;
      padding-right: 1rem; }
  .table-row__icon {
    margin-right: var(--px-table-row-icon-margin-right, 1rem); }
  .table-row__reorder-btn {
    float: right;
    position: absolute;
    right: 5%;
    top: 25%; }
  .table-row__media {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 1rem; }
    .table-row__media--left {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .table-row__media--right {
      margin-right: var(--px-table-row-media-margin-right, 0);
      -webkit-order: 9;
          -ms-flex-order: 9;
              order: 9; }
    .table-row__media--image img {
      display: block;
      max-width: 80px;
      max-height: 80px; }
    .table-row__media--icon {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
  .table-row--switch .table-row__content {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .table-row.checkbox {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 44px; }
  .table-row ::content input,
  .table-row input {
    width: 100%; }
  .table-row .text-input {
    margin: 0;
    min-height: 44px;
    font-size: 1.3rem;
    box-shadow: none; }
  .table-row .btn {
    outline: none;
    min-height: 44px;
    width: 100%; }

.table-row {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 not supported by any browser */
  min-height: var(--px-table-row-min-height, 2.9333333333rem);
  line-height: 2.9333333333rem;
  line-height: var(--px-table-row-line-height, 2.9333333333rem);
  color: var(--px-table-row-color);
  font-size: var(--px-table-row-font-size, 1.1333333333rem);
  background-color: var(--px-table-row-background-color);
  border-bottom-style: var(--px-table-row-border-style, solid);
  border-bottom-width: var(--px-table-row-border-width, 1px);
  border-bottom-color: var(--px-table-row-border-color, #b1b1bc); }
  .table-row__checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-weight: 400;
    line-height: 1.6666666667rem;
    margin: 0.6666666667rem 0;
    white-space: nowrap; }
    .table-row__checkbox input[type="checkbox"] {
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0;
      border: 0;
      opacity: 0.001;
      z-index: 1;
      vertical-align: top;
      outline: none;
      width: 100%;
      height: 100%;
      margin: 0;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      height: 0;
      width: 0; }
    .table-row__checkbox input[type="checkbox"]:checked {
      background: var(--checkbox-background-color, #0a9ec1); }
    .table-row__checkbox input[type="checkbox"]:checked + div:before {
      background: var(--checkbox-background-color, #0a9ec1);
      border: 1px solid #086e87; }
    .table-row__checkbox input[type="checkbox"]:checked + div:after {
      opacity: 1; }
    .table-row__checkbox input[type="checkbox"]:focus + div:before {
      box-shadow: none; }
    .table-row__checkbox input[type="checkbox"]:disabled + div {
      opacity: 0.5;
      cursor: default;
      pointer-events: none; }
    .table-row__checkbox input[type="checkbox"]:disabled:focus + div:before {
      pointer-events: none;
      background: transparent;
      box-shadow: none; }
    .table-row__checkbox__checkmark {
      box-sizing: border-box;
      background-clip: padding-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      cursor: default;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      font-weight: 400;
      position: relative;
      overflow: hidden;
      margin-right: 0.5rem;
      width: 1.6rem;
      height: 1.6rem; }
      .table-row__checkbox__checkmark:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        background-clip: padding-box;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 1px solid #b1b1bc;
        border-radius: 0;
        box-shadow: none;
        left: 0; }
      .table-row__checkbox__checkmark:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 12px;
        height: 6px;
        background: transparent;
        border: 3px solid white;
        border-width: 2px;
        border-top: none;
        border-right: none;
        border-radius: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        opacity: 0; }
    .table-row__checkbox--no-border {
      background: transparent;
      border: none; }
      .table-row__checkbox--no-border input[type="checkbox"] {
        background: transparent; }
        .table-row__checkbox--no-border input[type="checkbox"] + div:before {
          border: none; }
        .table-row__checkbox--no-border input[type="checkbox"] + div:after {
          border-color: #0a9ec1; }
        .table-row__checkbox--no-border input[type="checkbox"]:checked + div:before {
          border: none;
          background: transparent; }
        .table-row__checkbox--no-border input[type="checkbox"]:checked + div:after {
          border-color: #0a9ec1;
          opacity: 1; }
        .table-row__checkbox--no-border input[type="checkbox"]:disabled {
          pointer-events: none; }
          .table-row__checkbox--no-border input[type="checkbox"]:disabled + div:after {
            opacity: 0.5; }
  .table-row--swipeable {
    background-color: var(--px-table-row-background-color, white);
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: -webkit-transform cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
    transition: transform cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
    z-index: 10; }
    .table-row--swipeable .table-row__content {
      position: relative; }
  .table-row__actions {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .table-row__actions.is-visible {
      z-index: 50; }
    .table-row__actions--left {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0;
      left: 0; }
      .table-row__actions--left.is-visible {
        width: auto;
        -webkit-transform: translateX(0%);
                transform: translateX(0%); }
    .table-row__actions--right {
      -webkit-order: 10;
          -ms-flex-order: 10;
              order: 10;
      right: 0; }
      .table-row__actions--right.is-visible {
        width: auto;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
  .table-row__button {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    cursor: pointer;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    border-radius: 0;
    min-width: 80px;
    outline: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0;
    padding: 0.6666666667rem;
    color: white;
    font-size: 1.0666666667rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .table-row__button i {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      display: block; }
    .table-row__button--delete {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #e32533;
      border: none;
      outline: none; }
      .table-row__button--delete:active {
        background-color: #90121c; }
      .table-row__button--delete:hover {
        background-color: #a61520; }
    .table-row__button--flag {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #ff9821;
      border: none;
      outline: none; }
      .table-row__button--flag:active {
        background-color: #ba6400; }
      .table-row__button--flag:hover {
        background-color: #d47100; }
    .table-row__button--more {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #005cb9;
      border: none;
      outline: none; }
      .table-row__button--more:active {
        background-color: #002953; }
      .table-row__button--more:hover {
        background-color: #00366d; }
    .table-row__button--info {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #b1b1bc;
      border: none;
      outline: none; }
      .table-row__button--info:active {
        background-color: #7a7a8d; }
      .table-row__button--info:hover {
        background-color: #888899; }
  .table-row:active {
    transition: none; }
  .table-row--selected {
    background-color: var(--px-table-row-selected-background-color, #0a9ec1);
    color: var(--px-table-row-selected-color, white); }
    .table-row--selected .table-row__body,
    .table-row--selected .table-row__label,
    .table-row--selected .table-row__label2,
    .table-row--selected .table-row__subtitle,
    .table-row--selected .table-row__title {
      color: var(--px-table-row-selected-color, white); }
    .table-row--selected .table-row:before {
      color: var(--px-table-row-selected-color, white); }
  .table-row > a {
    text-decoration: none;
    cursor: pointer; }
    .table-row > a:active {
      color: white;
      background: #0a9ec1; }
  .table-row__title {
    font-size: var(--px-table-row-title-font-size, 1.1333333333rem);
    color: var(--px-table-row-title-color); }
  .table-row__subtitle {
    font-size: var(--px-table-row-subtitle-font-size, 0.9333333333rem);
    color: var(--px-table-row-subtitle-color, #9999a3); }
  .table-row__body {
    font-size: var(--px-table-row-body-font-size, 1.0666666667rem);
    color: var(--px-table-row-body-color, #7c7c84); }
  .table-row__label {
    font-size: var(--px-table-row-label-font-size, 1.0666666667rem);
    color: var(--px-table-row-label-color, #9999a3); }
  .table-row--header {
    padding: var(--px-table-row-header-padding, 0.3333333333rem);
    font-size: var(--px-table-row-header-font-size, 1.3333333333rem);
    color: var(--px-table-row-header-color, black);
    background-color: var(--px-table-row-header-background-color, #e4e4ea);
    text-transform: var(--px-table-row-header-text-transform, uppercase);
    min-height: var(--px-table-row-header-min-height, 24px);
    line-height: var(--px-table-row-header-line-height, 24px);
    border-top: none;
    border-bottom: none; }

/* This has no effect on the component.*/
:host.selected {
  background-color: var(--px-table-row-selected-background-color, #0a9ec1);
  color: var(--px-table-row-selected-color, white); }
  :host.selected .table-row__body,
  :host.selected .table-row__label,
  :host.selected .table-row__subtitle,
  :host.selected .table-row__title {
    color: var(--px-table-row-selected-color, white); }
  :host.selected .table-row:before {
    color: var(--px-table-row-selected-color, white); }
