@charset "UTF-8";
.table-row {
  min-height: 44px;
  line-height: 44px;
  width: 100%;
  font-size: 1.1rem;
  border-color: #b1b1bc;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0 10px;
  transition: background-color 0.3s linear;
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .table-row:before, .table-row:after {
    display: table;
    content: " "; }
  .table-row:after {
    clear: both; }
  .table-row h1,
  .table-row h2,
  .table-row h3,
  .table-row h4,
  .table-row h5,
  .table-row h6,
  .table-row p {
    margin: 0;
    padding: 0;
    line-height: normal; }
  .table-row > *:not(input),
  .table-row > *:not(textarea),
  .table-row > *:not(select) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .table-row:last-child {
    border-bottom: none; }
  .table-row:first-child:last-child {
    border-top: none;
    border-bottom: none; }
  .table-row:not(:last-child) {
    border-bottom: 1px solid #b1b1bc; }
  .table-row > a {
    text-decoration: none;
    color: black;
    transition: background-color 0.2s linear; }
    .table-row > a:active {
      color: #fff !important;
      transition: none;
      background: #0a9ec1; }
    .table-row > a:hover {
      transition: none; }
  .table-row__media {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1rem;
    padding-left: 0.1rem; }
    .table-row__media--right {
      float: right; }
      .table-row__media--right > i {
        margin-top: 0.7rem; }
    .table-row__media--toggle {
      padding-top: 0.5rem;
      padding-left: 0.5rem; }
    .table-row__media--image {
      padding-right: 1rem;
      padding-left: 0.1rem; }
      .table-row__media--image img {
        display: block;
        max-width: 80px;
        max-height: 80px; }
    .table-row__media--icon {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  .table-row--icon-left .table-row__media--icon {
    float: left; }
  .table-row--icon-right .table-row__media--icon {
    float: right; }
  .table-row--image-left .table-row__media--image {
    float: left; }
  .table-row--image-right .table-row__media--image {
    float: right;
    margin-right: 1rem; }
  .table-row--flush {
    line-height: normal; }
  .table-row__content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 2rem; }
    .table-row__content--flush {
      line-height: normal; }
    .table-row__content__title {
      padding: 0;
      font-size: 1.1rem;
      display: block;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap; }
      @media (max-width: 320px) {
        .table-row__content__title {
          font-size: 1rem; } }
      .table-row__content__title--flush {
        line-height: normal; }
      .table-row__content__title--small {
        font-size: 0.8rem;
        line-height: normal; }
      .table-row__content__title--large {
        font-size: 1.5rem; }
    .table-row__content__body {
      display: block;
      line-height: normal; }
      .table-row__content__body--flush {
        line-height: normal; }
  .table-row__label {
    color: #9999a3; }
    .table-row__label--right {
      margin-right: 2rem;
      right: 2%;
      position: absolute; }
    .table-row__label--left {
      float: left;
      position: relative;
      margin-left: 5%; }
    @media (max-width: 320px) {
      .table-row__label {
        margin-top: 1%;
        font-size: 0.9rem; } }
  .table-row__icon {
    padding: 0; }
    .table-row__icon--left {
      float: left; }
    .table-row__icon--right {
      float: right; }
  .table-row__reorder-btn {
    float: right;
    position: absolute;
    right: 5%;
    top: 25%; }
  .table-row--header {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    background-color: #e4e4ea;
    color: black;
    text-transform: uppercase;
    text-shadow: none;
    border-top: none;
    border-bottom: none;
    min-height: 24px;
    line-height: 24px; }
  .table-row--tappable {
    transition: background-color 0.2s linear; }
    .table-row--tappable:active {
      transition: none;
      background: #0a9ec1; }
    .table-row--tappable:active {
      color: #fff !important;
      transition: none;
      background: #0a9ec1; }
    .table-row--tappable:hover {
      transition: none; }
  .table-row--chevron {
    transition: background-color 0.2s linear;
    overflow: hidden;
    transition: background-color 0.2s linear; }
    .table-row--chevron:active {
      transition: none;
      background: #0a9ec1; }
    .table-row--chevron:active {
      background-color: #0a9ec1;
      transition: none; }
    .table-row--chevron:before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 12px;
      top: 50%;
      color: #b1b1bc;
      line-height: 28px;
      height: 28px;
      font-size: 28px;
      font-family: FontAwesome;
      content: ""; }
    .table-row--chevron:hover {
      transition: none; }
    .table-row--chevron:active {
      color: #fff !important;
      transition: none;
      background: #0a9ec1; }
    .table-row--chevron:hover {
      transition: none; }
  .table-row--detail {
    transition: background-color 0.2s linear;
    overflow: hidden;
    transition: background-color 0.2s linear; }
    .table-row--detail:active {
      background-color: #0a9ec1;
      transition: none; }
    .table-row--detail:before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 12px;
      top: 50%;
      color: #0a9ec1;
      line-height: 28px;
      height: 28px;
      font-size: 28px;
      font-family: FontAwesome;
      content: ""; }
    .table-row--detail:hover {
      transition: none; }
    .table-row--detail:active {
      color: #fff !important;
      transition: none;
      background: #0a9ec1; }
    .table-row--detail:hover {
      transition: none; }
  .table-row--order {
    transition: background-color 0.2s linear;
    overflow: hidden; }
    .table-row--order:active {
      background-color: #0a9ec1;
      transition: none; }
    .table-row--order:before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 12px;
      top: 50%;
      color: #b1b1bc;
      line-height: 28px;
      height: 28px;
      font-size: 28px;
      font-family: FontAwesome;
      content: ""; }
    .table-row--order:hover {
      transition: none; }
  .table-row--edit {
    transition: background-color 0.2s linear;
    overflow: hidden; }
    .table-row--edit:active {
      background-color: #0a9ec1;
      transition: none; }
    .table-row--edit:before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 12px;
      top: 50%;
      color: #ff5c5c;
      line-height: 28px;
      height: 28px;
      font-size: 28px;
      font-family: FontAwesome;
      content: ""; }
    .table-row--edit:hover {
      transition: none; }
    .table-row--edit:before {
      left: 5px;
      right: auto; }
    .table-row--edit > .table-row__content {
      padding-left: 25px; }
  .table-row--nav-left {
    transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    overflow: hidden; }
    .table-row--nav-left:active {
      color: #fff !important;
      transition: none;
      background: #0a9ec1; }
    .table-row--nav-left:hover {
      transition: none; }
    .table-row--nav-left:active {
      background-color: #0a9ec1;
      transition: none; }
    .table-row--nav-left:before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 12px;
      top: 50%;
      color: #b1b1bc;
      line-height: 28px;
      height: 28px;
      font-size: 28px;
      font-family: FontAwesome;
      content: ""; }
    .table-row--nav-left:hover {
      transition: none; }
  .table-row--nav-right {
    transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    overflow: hidden; }
    .table-row--nav-right:active {
      color: #fff !important;
      transition: none;
      background: #0a9ec1; }
    .table-row--nav-right:hover {
      transition: none; }
    .table-row--nav-right:active {
      background-color: #0a9ec1;
      transition: none; }
    .table-row--nav-right:before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 12px;
      top: 50%;
      color: #b1b1bc;
      line-height: 28px;
      height: 28px;
      font-size: 28px;
      font-family: FontAwesome;
      content: ""; }
    .table-row--nav-right:hover {
      transition: none; }
  .table-row--actionable .table-row__content {
    transition: 0.3s;
    position: relative;
    z-index: 10; }
  .table-row__actions {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    will-change: transform;
    z-index: 50;
    width: auto; }
    .table-row__actions__button {
      cursor: pointer;
      font-size: 1rem;
      margin: 0;
      color: #fff;
      border-radius: 0;
      padding: 2px 15px;
      min-width: 75px; }
      .table-row__actions__button i {
        display: block; }
    .table-row__actions .btn-delete {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color 0.2s linear;
      background-color: #e53838;
      border: none;
      outline: none; }
      .table-row__actions .btn-delete:active {
        background-color: #a21515; }
      .table-row__actions .btn-delete:hover {
        background-color: #b81818; }
    .table-row__actions .btn-flag {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color 0.2s linear;
      background-color: #dd6b1f;
      border: none;
      outline: none; }
      .table-row__actions .btn-flag:active {
        background-color: #844012; }
      .table-row__actions .btn-flag:hover {
        background-color: #9a4b16; }
    .table-row__actions .btn-more {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color 0.2s linear;
      background-color: #4364dd;
      border: none;
      outline: none; }
      .table-row__actions .btn-more:active {
        background-color: #1c389e; }
      .table-row__actions .btn-more:hover {
        background-color: #2040b3; }
    .table-row__actions .btn-info {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: background-color 0.2s linear;
      background-color: #848484;
      border: none;
      outline: none; }
      .table-row__actions .btn-info:active {
        background-color: #515151; }
      .table-row__actions .btn-info:hover {
        background-color: #5e5e5e; }
    .table-row__actions--left {
      left: 0;
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%); }
      .table-row__actions--left.is-visible {
        -webkit-transform: translateX(0%);
        transform: translateX(0%); }
        .table-row__actions--left.is-visible .table-row__actions__button {
          transition: width 300ms ease-out;
          width: auto; }
    .table-row__actions--right {
      right: 0;
      -webkit-transform: translateX(110%);
      transform: translateX(110%); }
      .table-row__actions--right.is-visible {
        -webkit-transform: translateX(0%);
        transform: translateX(0%); }

.table-row.checkbox {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 44px; }

.table-row__checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  margin: 10px 0; }
  .table-row__checkbox input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    border: 0;
    opacity: 0.001;
    z-index: 1;
    vertical-align: top;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    width: 0; }
  .table-row__checkbox input[type="checkbox"]:checked {
    background: #0a9ec1; }
  .table-row__checkbox input[type="checkbox"]:checked + div:before {
    background: #0a9ec1;
    border: 1px solid #0a9ec1; }
  .table-row__checkbox input[type="checkbox"]:checked + div:after {
    opacity: 1; }
  .table-row__checkbox input[type="checkbox"]:focus + div:before {
    box-shadow: none; }
  .table-row__checkbox input[type="checkbox"]:disabled + div {
    opacity: 0.3;
    cursor: default;
    pointer-events: none; }
  .table-row__checkbox input[type="checkbox"]:disabled:active + div:before {
    background: transparent;
    box-shadow: none; }
  .table-row__checkbox__checkmark {
    box-sizing: border-box;
    background-clip: padding-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    width: 24px;
    height: 24px; }
    .table-row__checkbox__checkmark:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      background-clip: padding-box;
      width: 24px;
      height: 24px;
      background: transparent;
      border: 1px solid #0a9ec1;
      border-radius: 16px;
      box-shadow: none;
      left: 0; }
    .table-row__checkbox__checkmark:after {
      content: '';
      position: absolute;
      top: 8px;
      left: 6px;
      width: 12px;
      height: 6px;
      background: transparent;
      border: 3px solid white;
      border-width: 2px;
      border-top: none;
      border-right: none;
      border-radius: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      opacity: 0; }
  .table-row__checkbox--no-border {
    background: transparent;
    border: none; }
    .table-row__checkbox--no-border input[type="checkbox"] {
      background: transparent; }
      .table-row__checkbox--no-border input[type="checkbox"] + div:before {
        border: none; }
      .table-row__checkbox--no-border input[type="checkbox"] + div:after {
        border-color: #0a9ec1; }
      .table-row__checkbox--no-border input[type="checkbox"]:checked + div:before {
        border: none;
        background: transparent; }
      .table-row__checkbox--no-border input[type="checkbox"]:checked + div:after {
        border-color: #0a9ec1;
        opacity: 1; }
      .table-row__checkbox--no-border input[type="checkbox"]:disabled + div:after {
        opacity: 0.5; }

.table-row > input.text-input {
  margin: 0;
  min-height: 44px;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  box-shadow: none; }

.table-row > .btn {
  outline: none;
  min-height: 44px; }

@charset "UTF-8";
/*
 * Copyright (c) 2014 GE Global Research. All rights reserved.
 *
 * The copyright to the computer software herein is the property of
 * GE Global Research. The software may be used and/or copied only
 * with the written permission of GE Global Research or in accordance
 * with the terms and conditions stipulated in the agreement/contract
 * under which the software has been supplied.
 */
/*
 * Copyright (c) 2016 GE Global Research. All rights reserved.
 *
 * The copyright to the computer software herein is the property of
 * GE Global Research. The software may be used and/or copied only
 * with the written permission of GE Global Research or in accordance
 * with the terms and conditions stipulated in the agreement/contract
 * under which the software has been supplied.
 */
/*
THIS FILE SHOULD CONTAIN ONLY ABSTRACT/'SKETCH' THEME RULES, NOT SPECIFIC TO PREDIX BRANDING
Predix branding rules go in my-px-comp-predix.scss, not in this file.
*/
* {
  -webkit-tap-highlight-color: transparent; }

.table-view {
  overflow-y: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-family: "GE Inspira Sans", sans-serif;
  font-weight: 500;
  border: none;
  background: transparent;
  background-color: white;
  cursor: default;
  list-style-type: none;
  line-height: normal;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease; }
  .table-view .switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    padding: 0 20px;
    border: none;
    overflow: visible;
    width: 51px;
    height: 32px;
    z-index: 0;
    text-align: left; }
    .table-view .switch input {
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0;
      border: 0;
      opacity: 0.001;
      z-index: 1;
      vertical-align: top;
      outline: none;
      width: 100%;
      height: 100%;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 51px;
      height: 44px;
      margin-top: -6px;
      top: 0;
      left: 0;
      transition: all 0.2s linear; }
    .table-view .switch__toggle {
      background-color: #ddd;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 30px;
      transition-property: all;
      transition-duration: 0.35s;
      transition-timing-function: ease-out; }
      .table-view .switch__toggle:before {
        box-sizing: border-box;
        background-clip: padding-box;
        position: absolute;
        content: '';
        border-radius: 28px;
        height: 28px;
        width: 28px;
        background-color: #fff;
        left: 2px;
        top: 2px;
        transition-property: all;
        transition-duration: 0.35s;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.5, 1); }
    .table-view .switch input:checked + .toggle {
      background-color: #4cd964; }
    .table-view .switch input:checked + .toggle:before {
      -webkit-transform: translateX(18px);
      transform: translateX(18px); }
    .table-view .switch input:not(:checked) + .toggle:before {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); }
    .table-view .switch input:disabled + .toggle {
      opacity: 0.3;
      cursor: default;
      pointer-events: none; }
    .table-view .switch.table-row {
      float: right;
      margin-top: 6px;
      margin-right: 10px; }
  .table-view:before, .table-view:after {
    display: table;
    content: " "; }
  .table-view:after {
    clear: both; }
  .table-view .table-row {
    min-height: 44px;
    line-height: 44px;
    width: 100%;
    font-size: 1.1rem;
    border-color: #b1b1bc;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0 10px;
    transition: background-color 0.3s linear;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .table-view .table-row:before, .table-view .table-row:after {
      display: table;
      content: " "; }
    .table-view .table-row:after {
      clear: both; }
    .table-view .table-row h1,
    .table-view .table-row h2,
    .table-view .table-row h3,
    .table-view .table-row h4,
    .table-view .table-row h5,
    .table-view .table-row h6,
    .table-view .table-row p {
      margin: 0;
      padding: 0;
      line-height: normal; }
    .table-view .table-row > *:not(input),
    .table-view .table-row > *:not(textarea),
    .table-view .table-row > *:not(select) {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .table-view .table-row:last-child {
      border-bottom: none; }
    .table-view .table-row:first-child:last-child {
      border-top: none;
      border-bottom: none; }
    .table-view .table-row:not(:last-child) {
      border-bottom: 1px solid #b1b1bc; }
    .table-view .table-row > a {
      text-decoration: none;
      color: black;
      transition: background-color 0.2s linear; }
      .table-view .table-row > a:active {
        color: #fff !important;
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row > a:hover {
        transition: none; }
    .table-view .table-row__media {
      display: table-cell;
      vertical-align: middle;
      padding-right: 1rem;
      padding-left: 0.1rem; }
      .table-view .table-row__media--right {
        float: right; }
        .table-view .table-row__media--right > i {
          margin-top: 0.7rem; }
      .table-view .table-row__media--toggle {
        padding-top: 0.5rem;
        padding-left: 0.5rem; }
      .table-view .table-row__media--image {
        padding-right: 1rem;
        padding-left: 0.1rem; }
        .table-view .table-row__media--image img {
          display: block;
          max-width: 80px;
          max-height: 80px; }
      .table-view .table-row__media--icon {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .table-view .table-row--icon-left .table-row__media--icon {
      float: left; }
    .table-view .table-row--icon-right .table-row__media--icon {
      float: right; }
    .table-view .table-row--image-left .table-row__media--image {
      float: left; }
    .table-view .table-row--image-right .table-row__media--image {
      float: right;
      margin-right: 1rem; }
    .table-view .table-row--flush {
      line-height: normal; }
    .table-view .table-row__content {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-right: 2rem; }
      .table-view .table-row__content--flush {
        line-height: normal; }
      .table-view .table-row__content__title {
        padding: 0;
        font-size: 1.1rem;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap; }
        @media (max-width: 320px) {
          .table-view .table-row__content__title {
            font-size: 1rem; } }
        .table-view .table-row__content__title--flush {
          line-height: normal; }
        .table-view .table-row__content__title--small {
          font-size: 0.8rem;
          line-height: normal; }
        .table-view .table-row__content__title--large {
          font-size: 1.5rem; }
      .table-view .table-row__content__body {
        display: block;
        line-height: normal; }
        .table-view .table-row__content__body--flush {
          line-height: normal; }
    .table-view .table-row__label {
      color: #9999a3; }
      .table-view .table-row__label--right {
        margin-right: 2rem;
        right: 2%;
        position: absolute; }
      .table-view .table-row__label--left {
        float: left;
        position: relative;
        margin-left: 5%; }
      @media (max-width: 320px) {
        .table-view .table-row__label {
          margin-top: 1%;
          font-size: 0.9rem; } }
    .table-view .table-row__icon {
      padding: 0; }
      .table-view .table-row__icon--left {
        float: left; }
      .table-view .table-row__icon--right {
        float: right; }
    .table-view .table-row__reorder-btn {
      float: right;
      position: absolute;
      right: 5%;
      top: 25%; }
    .table-view .table-row--header {
      padding-top: 15px;
      padding-bottom: 15px;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 500;
      background-color: #e4e4ea;
      color: black;
      text-transform: uppercase;
      text-shadow: none;
      border-top: none;
      border-bottom: none;
      min-height: 24px;
      line-height: 24px; }
    .table-view .table-row--tappable {
      transition: background-color 0.2s linear; }
      .table-view .table-row--tappable:active {
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--tappable:active {
        color: #fff !important;
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--tappable:hover {
        transition: none; }
    .table-view .table-row--chevron {
      transition: background-color 0.2s linear;
      overflow: hidden;
      transition: background-color 0.2s linear; }
      .table-view .table-row--chevron:active {
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--chevron:active {
        background-color: #0a9ec1;
        transition: none; }
      .table-view .table-row--chevron:before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 50%;
        color: #b1b1bc;
        line-height: 28px;
        height: 28px;
        font-size: 28px;
        font-family: FontAwesome;
        content: ""; }
      .table-view .table-row--chevron:hover {
        transition: none; }
      .table-view .table-row--chevron:active {
        color: #fff !important;
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--chevron:hover {
        transition: none; }
    .table-view .table-row--detail {
      transition: background-color 0.2s linear;
      overflow: hidden;
      transition: background-color 0.2s linear; }
      .table-view .table-row--detail:active {
        background-color: #0a9ec1;
        transition: none; }
      .table-view .table-row--detail:before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 50%;
        color: #0a9ec1;
        line-height: 28px;
        height: 28px;
        font-size: 28px;
        font-family: FontAwesome;
        content: ""; }
      .table-view .table-row--detail:hover {
        transition: none; }
      .table-view .table-row--detail:active {
        color: #fff !important;
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--detail:hover {
        transition: none; }
    .table-view .table-row--order {
      transition: background-color 0.2s linear;
      overflow: hidden; }
      .table-view .table-row--order:active {
        background-color: #0a9ec1;
        transition: none; }
      .table-view .table-row--order:before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 50%;
        color: #b1b1bc;
        line-height: 28px;
        height: 28px;
        font-size: 28px;
        font-family: FontAwesome;
        content: ""; }
      .table-view .table-row--order:hover {
        transition: none; }
    .table-view .table-row--edit {
      transition: background-color 0.2s linear;
      overflow: hidden; }
      .table-view .table-row--edit:active {
        background-color: #0a9ec1;
        transition: none; }
      .table-view .table-row--edit:before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 50%;
        color: #ff5c5c;
        line-height: 28px;
        height: 28px;
        font-size: 28px;
        font-family: FontAwesome;
        content: ""; }
      .table-view .table-row--edit:hover {
        transition: none; }
      .table-view .table-row--edit:before {
        left: 5px;
        right: auto; }
      .table-view .table-row--edit > .table-row__content {
        padding-left: 25px; }
    .table-view .table-row--nav-left {
      transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      overflow: hidden; }
      .table-view .table-row--nav-left:active {
        color: #fff !important;
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--nav-left:hover {
        transition: none; }
      .table-view .table-row--nav-left:active {
        background-color: #0a9ec1;
        transition: none; }
      .table-view .table-row--nav-left:before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 50%;
        color: #b1b1bc;
        line-height: 28px;
        height: 28px;
        font-size: 28px;
        font-family: FontAwesome;
        content: ""; }
      .table-view .table-row--nav-left:hover {
        transition: none; }
    .table-view .table-row--nav-right {
      transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      overflow: hidden; }
      .table-view .table-row--nav-right:active {
        color: #fff !important;
        transition: none;
        background: #0a9ec1; }
      .table-view .table-row--nav-right:hover {
        transition: none; }
      .table-view .table-row--nav-right:active {
        background-color: #0a9ec1;
        transition: none; }
      .table-view .table-row--nav-right:before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 50%;
        color: #b1b1bc;
        line-height: 28px;
        height: 28px;
        font-size: 28px;
        font-family: FontAwesome;
        content: ""; }
      .table-view .table-row--nav-right:hover {
        transition: none; }
    .table-view .table-row--actionable .table-row__content {
      transition: 0.3s;
      position: relative;
      z-index: 10; }
    .table-view .table-row__actions {
      overflow: hidden;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      position: absolute;
      top: 0;
      height: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out;
      will-change: transform;
      z-index: 50;
      width: auto; }
      .table-view .table-row__actions__button {
        cursor: pointer;
        font-size: 1rem;
        margin: 0;
        color: #fff;
        border-radius: 0;
        padding: 2px 15px;
        min-width: 75px; }
        .table-view .table-row__actions__button i {
          display: block; }
      .table-view .table-row__actions .btn-delete {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s linear;
        background-color: #e53838;
        border: none;
        outline: none; }
        .table-view .table-row__actions .btn-delete:active {
          background-color: #a21515; }
        .table-view .table-row__actions .btn-delete:hover {
          background-color: #b81818; }
      .table-view .table-row__actions .btn-flag {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s linear;
        background-color: #dd6b1f;
        border: none;
        outline: none; }
        .table-view .table-row__actions .btn-flag:active {
          background-color: #844012; }
        .table-view .table-row__actions .btn-flag:hover {
          background-color: #9a4b16; }
      .table-view .table-row__actions .btn-more {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s linear;
        background-color: #4364dd;
        border: none;
        outline: none; }
        .table-view .table-row__actions .btn-more:active {
          background-color: #1c389e; }
        .table-view .table-row__actions .btn-more:hover {
          background-color: #2040b3; }
      .table-view .table-row__actions .btn-info {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s linear;
        background-color: #848484;
        border: none;
        outline: none; }
        .table-view .table-row__actions .btn-info:active {
          background-color: #515151; }
        .table-view .table-row__actions .btn-info:hover {
          background-color: #5e5e5e; }
      .table-view .table-row__actions--left {
        left: 0;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%); }
        .table-view .table-row__actions--left.is-visible {
          -webkit-transform: translateX(0%);
          transform: translateX(0%); }
          .table-view .table-row__actions--left.is-visible .table-row__actions__button {
            transition: width 300ms ease-out;
            width: auto; }
      .table-view .table-row__actions--right {
        right: 0;
        -webkit-transform: translateX(110%);
        transform: translateX(110%); }
        .table-view .table-row__actions--right.is-visible {
          -webkit-transform: translateX(0%);
          transform: translateX(0%); }
  .table-view .table-row.checkbox {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 44px; }
  .table-view .table-row__checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    margin: 10px 0; }
    .table-view .table-row__checkbox input[type="checkbox"] {
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0;
      border: 0;
      opacity: 0.001;
      z-index: 1;
      vertical-align: top;
      outline: none;
      width: 100%;
      height: 100%;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 0;
      width: 0; }
    .table-view .table-row__checkbox input[type="checkbox"]:checked {
      background: #0a9ec1; }
    .table-view .table-row__checkbox input[type="checkbox"]:checked + div:before {
      background: #0a9ec1;
      border: 1px solid #0a9ec1; }
    .table-view .table-row__checkbox input[type="checkbox"]:checked + div:after {
      opacity: 1; }
    .table-view .table-row__checkbox input[type="checkbox"]:focus + div:before {
      box-shadow: none; }
    .table-view .table-row__checkbox input[type="checkbox"]:disabled + div {
      opacity: 0.3;
      cursor: default;
      pointer-events: none; }
    .table-view .table-row__checkbox input[type="checkbox"]:disabled:active + div:before {
      background: transparent;
      box-shadow: none; }
    .table-view .table-row__checkbox__checkmark {
      box-sizing: border-box;
      background-clip: padding-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: 400;
      font-size: 17px;
      position: relative;
      overflow: hidden;
      width: 24px;
      height: 24px; }
      .table-view .table-row__checkbox__checkmark:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        background-clip: padding-box;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 1px solid #0a9ec1;
        border-radius: 16px;
        box-shadow: none;
        left: 0; }
      .table-view .table-row__checkbox__checkmark:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 6px;
        width: 12px;
        height: 6px;
        background: transparent;
        border: 3px solid white;
        border-width: 2px;
        border-top: none;
        border-right: none;
        border-radius: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0; }
    .table-view .table-row__checkbox--no-border {
      background: transparent;
      border: none; }
      .table-view .table-row__checkbox--no-border input[type="checkbox"] {
        background: transparent; }
        .table-view .table-row__checkbox--no-border input[type="checkbox"] + div:before {
          border: none; }
        .table-view .table-row__checkbox--no-border input[type="checkbox"] + div:after {
          border-color: #0a9ec1; }
        .table-view .table-row__checkbox--no-border input[type="checkbox"]:checked + div:before {
          border: none;
          background: transparent; }
        .table-view .table-row__checkbox--no-border input[type="checkbox"]:checked + div:after {
          border-color: #0a9ec1;
          opacity: 1; }
        .table-view .table-row__checkbox--no-border input[type="checkbox"]:disabled + div:after {
          opacity: 0.5; }
  .table-view .table-row > input.text-input {
    margin: 0;
    min-height: 44px;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    box-shadow: none; }
  .table-view .table-row > .btn {
    outline: none;
    min-height: 44px; }
  .table-view--responsive {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 0; }
    .table-view--responsive .table-row {
      -webkit-flex: 1 0 240px;
      -ms-flex: 1 0 240px;
      flex: 1 0 240px;
      margin-left: 0;
      margin-top: 0; }
      @media (min-width: 480px) {
        .table-view--responsive .table-row {
          max-width: calc(50% - 0); } }
      @media (min-width: 720px) {
        .table-view--responsive .table-row {
          max-width: calc(33.33333% - 0); } }
      @media (min-width: 960px) {
        .table-view--responsive .table-row {
          max-width: calc(25% - 0); } }
      @media (min-width: 960px) {
        .table-view--responsive .table-row {
          min-width: calc(25% - 0); } }
    .table-view--responsive > *:last-child {
      border-bottom: 1px solid #b1b1bc !important; }
  .table-view--inset {
    background-image: none;
    border: 1px solid #b1b1bc;
    border-radius: 4px;
    margin: 8px; }
  .table-view--ptr > .table-row {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .table-view--bare {
    border: none;
    background: transparent; }
    .table-view--bare > .table-row {
      border: none;
      background: transparent; }
  .table-view--rev {
    direction: rtl; }
  .table-view--flush {
    padding: 0; }
  .table-view--tiny .table-row {
    padding: 0.2rem; }
  .table-view--small .table-row {
    padding: 0.5rem; }
  .table-view--flush .table-row {
    padding: 0; }
  .table-view--regular .table-row {
    padding: 1rem; }
  .table-view--large .table-row {
    padding: 2rem; }
  .table-view--huge .table-row {
    padding: 3rem; }
  .table-view--avatars > .table-row {
    padding: 0.5rem; }
    .table-view--avatars > .table-row img {
      height: 32px;
      border-radius: 6px; }
  .table-view .switch {
    float: right;
    position: absolute;
    margin-top: -25px;
    right: 3%; }
  .table-view .switch--table-row {
    float: right;
    margin-top: 6px;
    margin-right: 10px; }
  .table-view--nested .table-row {
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease; }
    .table-view--nested .table-row.has-children {
      line-height: normal;
      overflow: hidden;
      max-height: 75px; }
      .table-view--nested .table-row.has-children .table-view {
        margin-left: 15px;
        -webkit-transform: translateX(99%);
        transform: translateX(99%); }
      .table-view--nested .table-row.has-children.is-selected {
        background: transparent;
        max-height: 100%; }
        .table-view--nested .table-row.has-children.is-selected > .table-view {
          display: block;
          -webkit-transform: translateX(0);
          transform: translateX(0); }

/*
 * Copyright (c) 2016 GE Global Research. All rights reserved.
 *
 * The copyright to the computer software herein is the property of
 * GE Global Research. The software may be used and/or copied only
 * with the written permission of GE Global Research or in accordance
 * with the terms and conditions stipulated in the agreement/contract
 * under which the software has been supplied.
 */
/*
THIS FILE SHOULD CONTAIN ONLY ABSTRACT/'SKETCH' THEME RULES, NOT SPECIFIC TO PREDIX BRANDING
Predix branding rules go in my-px-comp-predix.scss, not in this file.
*/
