@charset "UTF-8";
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  /**
 * Default link colors
 */
  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */ }
  a:link, a:visited {
    color: #3e87e8; }
  a:hover {
    color: #3573c5; }
  a:active {
    color: #2b5ea2; }
  a:active, a:hover {
    outline: 0; }

/**
 * Add/remove floats
 */
.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.float--none {
  float: none !important; }

/**
 * Text alignment
 */
.text--left {
  text-align: left !important; }

.text--center {
  text-align: center !important; }

.text--right {
  text-align: right !important; }

/**
 * Full height element
 */
.full-height {
  height: 100% !important; }

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help !important; }

/**
 * Mute an object by reducing its opacity.
 */
.muted {
  opacity: 0.5 !important; }

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed {
  text-align: right !important; }

/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
  text-transform: uppercase !important; }

/**
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/**
 * Hide content off-screen without resorting to `display:none;`
 */
.a11y,
.visuallyhidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important; }

.a11y.focusable:active, .a11y.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto; }

@media screen and (max-width: 44.9375em) {
  .a11y-palm,
  .visuallyhidden-palm {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .a11y-lap,
  .visuallyhidden-lap {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 45em) {
  .a11y-lap-and-up,
  .visuallyhidden-lap-and-up {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (max-width: 63.9375em) {
  .a11y-portable,
  .visuallyhidden-portable {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 64em) {
  .a11y-desk,
  .visuallyhidden-desk {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .a11y-retina,
  .visuallyhidden-retina {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (max-width: 21.3333333333rem) {
  .a11y-xs,
  .visuallyhidden-xs {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 22rem) and (max-width: 49.0666666667rem) {
  .a11y-sm,
  .visuallyhidden-sm {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 51.2rem) and (max-width: 68.2rem) {
  .a11y-md,
  .visuallyhidden-md {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 68.2666666667rem) and (max-width: 80rem) {
  .a11y-lg,
  .visuallyhidden-lg {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 85.3333333333rem) {
  .a11y-xl,
  .visuallyhidden-xl {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

/**
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden !important; }

.toggle__input {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important; }
  .toggle__input:checked + .toggle__label {
    background-color: #0986a4; }
    .toggle__input:checked + .toggle__label:before {
      background-color: #0a9ec1; }
    .toggle__input:checked + .toggle__label:after {
      margin-left: 2rem; }

.toggle__label {
  position: relative;
  display: block;
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 1px;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background .4s;
  background-color: #b1b1bc;
  text-indent: -9999rem; }
  .toggle__label:before, .toggle__label:after {
    position: absolute;
    display: block;
    content: ""; }
  .toggle__label:before {
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 2rem;
    transition: background .4s;
    background-color: #d1d0d8; }
  .toggle__label:after {
    top: 3px;
    bottom: 3px;
    left: 3px;
    width: calc(2rem - 6px);
    border: 1px solid #efeff4;
    border-radius: calc(2rem - 6px);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    transition: margin .4s, background .4s; }

/**
   * Small buttons.
   */
.toggle__input--small:checked + .toggle__label--small:after {
  margin-left: 1.3333333333rem; }

.toggle__label--small {
  width: 2.6666666667rem;
  height: 1.3333333333rem;
  border-radius: 1.3333333333rem; }
  .toggle__label--small:before {
    border-radius: 1.3333333333rem; }
  .toggle__label--small:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    width: calc(1.3333333333rem - 4px);
    border-radius: calc(1.3333333333rem - 4px); }

/**
   * Small buttons.
   */
.toggle__input--large:checked + .toggle__label--large:after {
  margin-left: 2.6666666667rem; }

.toggle__label--large {
  width: 5.3333333333rem;
  height: 2.6666666667rem;
  border-radius: 2.6666666667rem; }
  .toggle__label--large:before {
    border-radius: 2.6666666667rem; }
  .toggle__label--large:after {
    top: 0.2666666667rem;
    bottom: 0.2666666667rem;
    left: 0.2666666667rem;
    width: calc(2.6666666667rem - 0.5333333333rem);
    border-radius: calc(2.6666666667rem - 0.5333333333rem); }

/**
   * Small buttons.
   */
.toggle__input--huge:checked + .toggle__label--huge:after {
  margin-left: 4rem; }

.toggle__label--huge {
  width: 8rem;
  height: 4rem;
  border-radius: 4rem; }
  .toggle__label--huge:before {
    border-radius: 4rem; }
  .toggle__label--huge:after {
    top: 0.3333333333rem;
    bottom: 0.3333333333rem;
    left: 0.3333333333rem;
    width: calc(4rem - 0.6666666667rem);
    border-radius: calc(4rem - 0.6666666667rem); }

.table-row {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 not supported by any browser */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  appearance: normal;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .table-row ::content,
  .table-row {
    /**
   * Styles for one line forms.
   */ }
    .table-row ::content fieldset,
    .table-row fieldset {
      margin: 0; }
      .table-row ::content fieldset, .table-row ::content fieldset legend,
      .table-row fieldset,
      .table-row fieldset legend {
        border: 0;
        padding: 0; }
    .table-row ::content legend,
    .table-row legend {
      margin-bottom: 1.3333333333rem;
      font-weight: bold; }
    .table-row ::content .form-field,
    .table-row .form-field {
      margin-bottom: 1.3333333333rem; }
      .table-row ::content .form-field:last-child,
      .table-row .form-field:last-child {
        margin-bottom: 2.6666666667rem; }
    .table-row ::content label,
    .table-row label {
      display: block;
      margin-bottom: 0.3333333333rem;
      cursor: pointer; }
    .table-row ::content .label--inline,
    .table-row .label--inline {
      display: inline-block;
      margin-bottom: 0;
      line-height: 1; }
      .table-row ::content .label--inline + .text-input,
      .table-row .label--inline + .text-input {
        margin-left: 0.6666666667rem; }
    .table-row ::content .text-input,
    .table-row ::content textarea, .table-row ::content select,
    .table-row .text-input,
    .table-row textarea,
    .table-row select {
      margin: 0;
      border: 1px solid #b1b1bc;
      font: inherit;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none; }
      .table-row ::content .text-input:disabled,
      .table-row ::content textarea:disabled, .table-row ::content select:disabled,
      .table-row .text-input:disabled,
      .table-row textarea:disabled,
      .table-row select:disabled {
        cursor: not-allowed; }
    .table-row ::content .text-input,
    .table-row ::content textarea,
    .table-row .text-input,
    .table-row textarea {
      width: 100%;
      padding: 0 0.6666666667rem;
      box-shadow: inset 0 0 0 1px #e4e4ea;
      background-color: #efeff4;
      color: black; }
      .table-row ::content .text-input[readonly], .table-row ::content .text-input[disabled],
      .table-row ::content textarea[readonly],
      .table-row ::content textarea[disabled],
      .table-row .text-input[readonly],
      .table-row .text-input[disabled],
      .table-row textarea[readonly],
      .table-row textarea[disabled] {
        box-shadow: none; }
      .table-row ::content .text-input[readonly],
      .table-row ::content textarea[readonly],
      .table-row .text-input[readonly],
      .table-row textarea[readonly] {
        border: 1px solid #e4e4ea;
        background-color: white;
        color: #b1b1bc; }
      .table-row ::content .text-input:disabled,
      .table-row ::content textarea:disabled,
      .table-row .text-input:disabled,
      .table-row textarea:disabled {
        border: 1px solid #e4e4ea;
        box-shadow: none;
        background-color: #f7f7fc;
        color: #b1b1bc; }
      .table-row ::content .text-input:focus,
      .table-row ::content textarea:focus,
      .table-row .text-input:focus,
      .table-row textarea:focus {
        border-color: #0a9ec1;
        box-shadow: inset 0 0 0 1px #d1d0d8; }
      .table-row ::content .text-input::-webkit-input-placeholder,
      .table-row ::content textarea::-webkit-input-placeholder,
      .table-row .text-input::-webkit-input-placeholder,
      .table-row textarea::-webkit-input-placeholder {
        color: #b1b1bc; }
      .table-row ::content .text-input:-moz-placeholder,
      .table-row ::content textarea:-moz-placeholder,
      .table-row .text-input:-moz-placeholder,
      .table-row textarea:-moz-placeholder {
        color: #b1b1bc; }
    .table-row ::content select,
    .table-row select {
      border-radius: 3px;
      padding: 0 3em 0 1em;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      line-height: calc(2em - 2px);
      cursor: pointer;
      background-color: #e4e4ea;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20viewBox%3D%220%200%20658%201024%22%3E%3Cpath%20fill%3D%22%233b3b3f%22%20d%3D%22M614.286%20420.571q0%207.429-5.714%2013.143l-266.286%20266.286q-5.714%205.714-13.143%205.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l28.571-28.571q5.714-5.714%2013.143-5.714t13.143%205.714l224.571%20224.571%20224.571-224.571q5.714-5.714%2013.143-5.714t13.143%205.714l28.571%2028.571q5.714%205.714%205.714%2013.143z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: calc(100% - 0.6666666667rem) 37.5%;
      color: #3b3b3f; }
      .table-row ::content select:hover, .table-row ::content select:focus,
      .table-row select:hover,
      .table-row select:focus {
        border: 1px solid #9999a3;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        background-color: #b1b1bc; }
      .table-row ::content select:active,
      .table-row select:active {
        border: 1px solid #7c7c84;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        background-color: #9999a3; }
      .table-row ::content select:disabled,
      .table-row select:disabled {
        border: 1px solid #d1d0d8;
        box-shadow: none;
        background-color: white;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20viewBox%3D%220%200%20658%201024%22%3E%3Cpath%20fill%3D%22%23d1d0d8%22%20d%3D%22M614.286%20420.571q0%207.429-5.714%2013.143l-266.286%20266.286q-5.714%205.714-13.143%205.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l28.571-28.571q5.714-5.714%2013.143-5.714t13.143%205.714l224.571%20224.571%20224.571-224.571q5.714-5.714%2013.143-5.714t13.143%205.714l28.571%2028.571q5.714%205.714%205.714%2013.143z%22%2F%3E%3C%2Fsvg%3E");
        color: #d1d0d8; }
      .table-row ::content select[multiple],
      .table-row select[multiple] {
        border: 1px solid #b1b1bc;
        padding: 0.3333333333rem;
        cursor: pointer;
        background: #f7f7fc; }
    .table-row ::content select::-ms-expand,
    .table-row select::-ms-expand {
      display: none; }

@-moz-document url-prefix() {
  .table-row ::content select,
  .table-row select {
    padding-top: .4em;
    padding-bottom: .4em; } }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .table-row ::content select,
      .table-row select {
        padding-top: .4em;
        padding-bottom: .4em; } }
    .table-row ::content .text-input,
    .table-row .text-input {
      height: 2em;
      line-height: 1; }
      .table-row ::content .text-input + [type=checkbox], .table-row ::content .text-input + [type=radio],
      .table-row .text-input + [type=checkbox],
      .table-row .text-input + [type=radio] {
        margin-left: 1.3333333333rem; }
      .table-row ::content .text-input + .label--inline,
      .table-row .text-input + .label--inline {
        margin-left: 0.6666666667rem; }
      .table-row ::content .text-input[type=search],
      .table-row .text-input[type=search] {
        -webkit-appearance: none;
        padding: 0; }
      .table-row ::content .text-input::-webkit-input-placeholder,
      .table-row .text-input::-webkit-input-placeholder {
        padding-top: 1px; }
      .table-row ::content .text-input:-moz-placeholder,
      .table-row .text-input:-moz-placeholder {
        padding-top: 1px; }
    .table-row ::content .text-input + [type=submit], .table-row ::content .text-input [type=cancel],
    .table-row ::content .label--inline + [type=submit],
    .table-row ::content .label--inline [type=cancel],
    .table-row .text-input + [type=submit],
    .table-row .text-input [type=cancel],
    .table-row .label--inline + [type=submit],
    .table-row .label--inline [type=cancel] {
      margin-left: 1.3333333333rem; }
    .table-row ::content textarea,
    .table-row textarea {
      overflow: auto;
      min-height: calc(120px + 0.6666666667rem);
      padding: 0.3333333333rem 0.6666666667rem;
      resize: vertical; }
    .table-row ::content [type=checkbox], .table-row ::content [type=radio],
    .table-row [type=checkbox],
    .table-row [type=radio] {
      margin: 0;
      padding: 0;
      font-size: 1.05em;
      cursor: pointer; }
      .table-row ::content [type=checkbox][disabled], .table-row ::content [type=radio][disabled],
      .table-row [type=checkbox][disabled],
      .table-row [type=radio][disabled] {
        cursor: not-allowed; }
        .table-row ::content [type=checkbox][disabled] + .label--inline, .table-row ::content [type=radio][disabled] + .label--inline,
        .table-row [type=checkbox][disabled] + .label--inline,
        .table-row [type=radio][disabled] + .label--inline {
          cursor: not-allowed; }
    .table-row ::content [type=checkbox] + .label--inline,
    .table-row [type=checkbox] + .label--inline {
      padding-left: 5px; }
    .table-row ::content [type=radio] + .label--inline,
    .table-row [type=radio] + .label--inline {
      padding-left: 3px; }
    .table-row ::content .form-field__help,
    .table-row .form-field__help {
      display: inline-block;
      margin-top: 0.3333333333rem;
      font-size: 1rem;
      line-height: inherit;
      color: #7c7c84; }
    .table-row ::content .input--tiny,
    .table-row .input--tiny {
      max-width: 7.0666666667rem; }
    .table-row ::content .input--small,
    .table-row .input--small {
      max-width: 14.1333333333rem; }
    .table-row ::content .input--regular,
    .table-row .input--regular {
      max-width: 21.2rem; }
    .table-row ::content .input--large,
    .table-row .input--large {
      max-width: 28.2666666667rem; }
    .table-row ::content .input--huge,
    .table-row .input--huge {
      max-width: 35.3333333333rem; }
    .table-row ::content .form-field--inline:last-child,
    .table-row .form-field--inline:last-child {
      margin-bottom: 1.3333333333rem; }
    .table-row ::content .form-field--inline .text-input,
    .table-row .form-field--inline .text-input {
      margin-bottom: 1.3333333333rem; }
  .table-row:after, .table-row:before {
    display: table;
    content: ' '; }
  .table-row:after {
    clear: both; }
  .table-row > *:not(input),
  .table-row > *:not(textarea),
  .table-row > *:not(select) {
    -webkit-text-size-adjust: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: transparent; }
  .table-row--tiny {
    padding: 0.3333333333rem; }
  .table-row--small {
    padding: 0.6666666667rem; }
  .table-row--large {
    padding: 1.3333333333rem; }
  .table-row--huge {
    padding: 2rem; }
  .table-row--flush {
    line-height: normal; }
  .table-row--col {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .table-row--center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .table-row--center > * {
      text-align: center;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
  .table-row--divider {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-top: -1px;
    margin-left: 0;
    font-weight: 500;
    color: #999;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .table-row--header {
    box-sizing: border-box; }
  .table-row--tappable {
    cursor: pointer; }
    .table-row--tappable:active {
      color: white;
      background: #0a9ec1; }
    .table-row--tappable:active {
      color: var(--px-table-row-selected-color, white);
      background-color: var(--px-table-row-selected-background-color, #0a9ec1); }
      .table-row--tappable:active .table-row__body,
      .table-row--tappable:active .table-row__label,
      .table-row--tappable:active .table-row__subtitle,
      .table-row--tappable:active .table-row__title {
        color: var(--px-table-row-selected-color, white); }
  .table-row--chevron {
    overflow: hidden;
    cursor: pointer; }
    .table-row--chevron:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #b1b1bc);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.6rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
    .table-row--chevron:active {
      color: white;
      background: #0a9ec1; }
  .table-row--detail {
    cursor: pointer;
    overflow: hidden; }
    .table-row--detail:active {
      color: white;
      background: #0a9ec1; }
    .table-row--detail:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #0a9ec1);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.6rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
  .table-row--nav-right {
    overflow: hidden; }
    .table-row--nav-right:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #b1b1bc);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.6rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
  .table-row--collapsable {
    cursor: pointer;
    border-bottom: none;
    overflow: hidden; }
    .table-row--collapsable:active {
      color: white;
      background: #0a9ec1; }
    .table-row--collapsable:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: var(--px-table-row-indicator-color, #b1b1bc);
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.6rem;
      font-family: FontAwesome;
      content: var(--px-table-row-indicator, ""); }
    .table-row--collapsable ~ .table-row__content {
      transition: var(--px-table-row-collapseable-transition, all 0.3s);
      display: none;
      margin-left: 1rem; }
      .table-row--collapsable ~ .table-row__content .table-row {
        border-bottom: none; }
    .table-row--collapsable--is-opened {
      overflow: hidden; }
      .table-row--collapsable--is-opened:before {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 0.6666666667rem;
        top: 50%;
        color: var(--px-table-row-indicator-color, #b1b1bc);
        line-height: 1.8666666667rem;
        height: 1.8666666667rem;
        font-size: 1.6rem;
        font-family: FontAwesome;
        content: var(--px-table-row-indicator, ""); }
      .table-row--collapsable--is-opened ~ .table-row__content {
        display: block; }
  .table-row--top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .table-row--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-row--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-row__content {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .table-row__content--row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .table-row__content--column {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .table-row__content--flush {
      line-height: normal; }
  .table-row__title {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    line-height: normal;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap; }
  .table-row__subtitle {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    white-space: nowrap;
    line-height: normal;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .table-row__body {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    white-space: normal;
    line-height: normal; }
  .table-row__label {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .table-row__label--right {
      text-align: left;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4; }
  .table-row__icon {
    margin-right: var(--px-table-row-icon-margin-right, 1rem); }
  .table-row__reorder-btn {
    float: right;
    position: absolute;
    right: 5%;
    top: 25%; }
  .table-row__media {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: var(--px-table-row-media-margin, 0.6666666667rem);
    margin-right: var(--px-table-row-media-margin, 0.6666666667rem); }
    .table-row__media--left {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .table-row__media--right {
      margin-right: var(--px-table-row-media-margin-right, 0);
      -webkit-order: 9;
          -ms-flex-order: 9;
              order: 9; }
    .table-row__media--image img {
      display: block;
      max-width: 80px;
      max-height: 80px; }
  .table-row--switch .table-row__content {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .table-row.checkbox {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 44px; }
  .table-row .text-input {
    margin: 0;
    min-height: 44px;
    font-size: 1.3rem;
    box-shadow: none; }
  .table-row .btn {
    outline: none;
    min-height: 44px;
    width: 100%; }

.table-row {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 not supported by any browser */
  min-height: var(--px-table-row-min-height, 2.9333333333rem);
  line-height: var(--px-table-row-line-height, 2.9333333333rem);
  color: var(--px-table-row-color, inherit);
  font-size: var(--px-table-row-font-size, inherit);
  background-color: var(--px-table-row-background-color, inherit); }
  .table-row__checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-weight: 400;
    line-height: 1.6666666667rem;
    margin: 0.6666666667rem 0;
    white-space: nowrap; }
    .table-row__checkbox input[type="checkbox"] {
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0;
      border: 0;
      opacity: 0.001;
      z-index: 1;
      vertical-align: top;
      outline: none;
      width: 100%;
      height: 100%;
      margin: 0;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      height: 0;
      width: 0; }
    .table-row__checkbox input[type="checkbox"]:checked {
      background: var(--checkbox-background-color, #0a9ec1); }
    .table-row__checkbox input[type="checkbox"]:checked + div:before {
      background: var(--checkbox-background-color, #0a9ec1);
      border: 1px solid #086e87; }
    .table-row__checkbox input[type="checkbox"]:checked + div:after {
      opacity: 1; }
    .table-row__checkbox input[type="checkbox"]:focus + div:before {
      box-shadow: none; }
    .table-row__checkbox input[type="checkbox"]:disabled + div {
      opacity: 0.5;
      cursor: default;
      pointer-events: none; }
    .table-row__checkbox input[type="checkbox"]:disabled:focus + div:before {
      pointer-events: none;
      background: transparent;
      box-shadow: none; }
    .table-row__checkbox__checkmark {
      box-sizing: border-box;
      background-clip: padding-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      cursor: default;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      font-weight: 400;
      position: relative;
      overflow: hidden;
      margin-right: 0.5rem;
      width: 1.6rem;
      height: 1.6rem; }
      .table-row__checkbox__checkmark:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        background-clip: padding-box;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 1px solid #b1b1bc;
        border-radius: 0;
        box-shadow: none;
        left: 0; }
      .table-row__checkbox__checkmark:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 12px;
        height: 6px;
        background: transparent;
        border: 3px solid white;
        border-width: 2px;
        border-top: none;
        border-right: none;
        border-radius: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        opacity: 0; }
    .table-row__checkbox--no-border {
      background: transparent;
      border: none; }
      .table-row__checkbox--no-border input[type="checkbox"] {
        background: transparent; }
        .table-row__checkbox--no-border input[type="checkbox"] + div:before {
          border: none; }
        .table-row__checkbox--no-border input[type="checkbox"] + div:after {
          border-color: #0a9ec1; }
        .table-row__checkbox--no-border input[type="checkbox"]:checked + div:before {
          border: none;
          background: transparent; }
        .table-row__checkbox--no-border input[type="checkbox"]:checked + div:after {
          border-color: #0a9ec1;
          opacity: 1; }
        .table-row__checkbox--no-border input[type="checkbox"]:disabled {
          pointer-events: none; }
          .table-row__checkbox--no-border input[type="checkbox"]:disabled + div:after {
            opacity: 0.5; }
  .table-row--swipeable {
    background-color: var(--px-table-row-background-color, white);
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: -webkit-transform cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
    transition: transform cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
    z-index: 10; }
    .table-row--swipeable .table-row__content {
      position: relative; }
  .table-row__actions {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .table-row__actions.is-visible {
      z-index: 50; }
    .table-row__actions--left {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0;
      left: 0; }
      .table-row__actions--left.is-visible {
        width: auto;
        -webkit-transform: translateX(0%);
                transform: translateX(0%); }
    .table-row__actions--right {
      -webkit-order: 10;
          -ms-flex-order: 10;
              order: 10;
      right: 0; }
      .table-row__actions--right.is-visible {
        width: auto;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
  .table-row__button {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    cursor: pointer;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    border-radius: 0;
    min-width: 80px;
    outline: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0;
    padding: 0.6666666667rem;
    color: white;
    font-size: 1.0666666667rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .table-row__button i {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      display: block; }
    .table-row__button--delete {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #e32533;
      border: none;
      outline: none; }
      .table-row__button--delete:active {
        background-color: #90121c; }
      .table-row__button--delete:hover {
        background-color: #a61520; }
    .table-row__button--flag {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #ff9821;
      border: none;
      outline: none; }
      .table-row__button--flag:active {
        background-color: #ba6400; }
      .table-row__button--flag:hover {
        background-color: #d47100; }
    .table-row__button--more {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #005cb9;
      border: none;
      outline: none; }
      .table-row__button--more:active {
        background-color: #002953; }
      .table-row__button--more:hover {
        background-color: #00366d; }
    .table-row__button--info {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: #b1b1bc;
      border: none;
      outline: none; }
      .table-row__button--info:active {
        background-color: #7a7a8d; }
      .table-row__button--info:hover {
        background-color: #888899; }
  .table-row:active {
    transition: none; }
  .table-row--selected {
    background-color: var(--px-table-row-selected-background-color, #0a9ec1);
    color: var(--px-table-row-selected-color, white); }
    .table-row--selected .table-row__body,
    .table-row--selected .table-row__label,
    .table-row--selected .table-row__label2,
    .table-row--selected .table-row__subtitle,
    .table-row--selected .table-row__title {
      color: var(--px-table-row-selected-color); }
    .table-row--selected .table-row:before {
      color: var(--px-table-row-selected-color); }
  .table-row > a {
    text-decoration: none;
    cursor: pointer; }
    .table-row > a:active {
      color: white;
      background: #0a9ec1; }
  .table-row__title {
    font-size: var(--px-table-row-title-font-size, inherit);
    color: var(--px-table-row-title-color, inherit); }
  .table-row__subtitle {
    font-size: var(--px-table-row-subtitle-font-size);
    color: var(--px-table-row-subtitle-color); }
  .table-row__body {
    font-size: var(--px-table-row-body-font-size, 0.9333333333rem);
    color: var(--px-table-row-body-color, #7c7c84); }
  .table-row__label {
    font-size: var(--px-table-row-label-font-size, 0.9333333333rem);
    color: var(--px-table-row-label-color, #7c7c84); }
  .table-row--header {
    padding: var(--px-table-row-header-padding, 0.3333333333rem);
    font-size: var(--px-table-row-header-font-size, 1.1333333333rem);
    color: var(--px-table-row-header-color, black);
    background-color: var(--px-table-row-header-background-color, #e4e4ea);
    text-transform: var(--px-table-row-header-text-transform, uppercase);
    min-height: var(--px-table-row-header-min-height, 24px);
    line-height: var(--px-table-row-header-line-height, 24px);
    border-top: none;
    border-bottom: none; }
