@charset "UTF-8";
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
.table-row {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                 not supported by any browser */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  appearance: normal;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .table-row:after, .table-row:before {
    display: table;
    content: ' '; }
  .table-row:after {
    clear: both; }
  .table-row > *:not(input),
  .table-row > *:not(textarea),
  .table-row > *:not(select) {
    -webkit-text-size-adjust: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: transparent; }
  .table-row--tiny {
    padding: 0.3333333333rem; }
  .table-row--small {
    padding: 0.6666666667rem; }
  .table-row--large {
    padding: 1.3333333333rem; }
  .table-row--huge {
    padding: 2rem; }
  .table-row--flush {
    line-height: normal; }
  .table-row--header {
    box-sizing: border-box; }
  .table-row--tappable {
    cursor: pointer; }
    .table-row--tappable:active {
      color: white;
      transition: none;
      background: #0a9ec1; }
    .table-row--tappable:hover {
      transition: none; }
    .table-row--tappable:active {
      transition: none;
      background-color: #0a9ec1; }
      .table-row--tappable:active .table-row__body,
      .table-row--tappable:active .table-row__label,
      .table-row--tappable:active .table-row__subtitle,
      .table-row--tappable:active .table-row__title {
        color: var(--px-table-row-selected-color, white); }
  .table-row--chevron {
    overflow: hidden;
    cursor: pointer; }
    .table-row--chevron:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: #b1b1bc;
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: ""; }
    .table-row--chevron:active {
      background-color: #0a9ec1;
      transition: none; }
      .table-row--chevron:active:before {
        color: white; }
    .table-row--chevron:active {
      color: white;
      transition: none;
      background: #0a9ec1; }
    .table-row--chevron:hover {
      transition: none; }
  .table-row--detail {
    cursor: pointer;
    overflow: hidden; }
    .table-row--detail:active {
      color: white;
      transition: none;
      background: #0a9ec1; }
    .table-row--detail:hover {
      transition: none; }
    .table-row--detail:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: #0a9ec1;
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: ""; }
    .table-row--detail:active {
      background-color: #0a9ec1;
      transition: none; }
      .table-row--detail:active:before {
        color: white; }
  .table-row--nav-right {
    overflow: hidden; }
    .table-row--nav-right:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: #b1b1bc;
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: ""; }
    .table-row--nav-right:active {
      background-color: #0a9ec1;
      transition: none; }
      .table-row--nav-right:active:before {
        color: white; }
  .table-row--collapsable {
    cursor: pointer;
    overflow: hidden; }
    .table-row--collapsable:active {
      color: white;
      transition: none;
      background: #0a9ec1; }
    .table-row--collapsable:hover {
      transition: none; }
    .table-row--collapsable:before {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-style: normal;
      font-weight: normal;
      position: absolute;
      right: 0.6666666667rem;
      top: 50%;
      color: #b1b1bc;
      line-height: 1.8666666667rem;
      height: 1.8666666667rem;
      font-size: 1.8666666667rem;
      font-family: FontAwesome;
      content: ""; }
    .table-row--collapsable:active {
      background-color: #0a9ec1;
      transition: none; }
      .table-row--collapsable:active:before {
        color: white; }
    .table-row--collapsable .table-row__body {
      transition: var(--px-table-row-collapseable-transition, all 0.3s);
      display: none; }
    .table-row--collapsable--is-open .table-row__body {
      display: block; }
  .table-row--top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .table-row--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-row--bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-row__content {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .table-row__content--row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .table-row__content--column {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .table-row__content--flush {
      line-height: normal; }
  .table-row__title {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 not supported by any browser */
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    line-height: normal;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .table-row__subtitle {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    white-space: nowrap;
    line-height: normal;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .table-row__body {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    white-space: normal;
    line-height: normal; }
  .table-row__label {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .table-row__label--right {
      text-align: left;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4;
      padding-right: 1rem; }
  .table-row__icon {
    margin-right: 1rem; }
  .table-row__reorder-btn {
    float: right;
    position: absolute;
    right: 5%;
    top: 25%; }
  .table-row__media {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 1rem; }
    .table-row__media--left {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .table-row__media--right {
      margin-right: 1rem;
      -webkit-order: 9;
          -ms-flex-order: 9;
              order: 9; }
    .table-row__media--image img {
      display: block;
      max-width: 80px;
      max-height: 80px; }
    .table-row__media--icon {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
  .table-row--switch .table-row__content {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .table-row.checkbox {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 44px; }
  .table-row ::content input,
  .table-row input {
    width: 100%; }
  .table-row .text-input {
    margin: 0;
    min-height: 44px;
    font-size: 1.3rem;
    box-shadow: none; }
  .table-row .btn {
    outline: none;
    min-height: 44px;
    width: 100%; }
