/// @group px-table-view
/// Mixins
@import "variables";
@import "mixins";
///

///
@import "px-table-row--actions";
/// Table Row
/// @group px-table-row
/// @access public
@include block ('table-row') {
  @include clearfix();
  @include noselect();
  
  align-self      : center;
  //width         : 100%;

  box-sizing      : border-box;

  position        : relative;
  overflow        : hidden;
  display         : flex;
  flex-direction  : row;
  //margin          : 0;
  padding         : 0;
  appearance      : normal;
  user-select     : none;
  font-size       : $table-row-font-size;


  background-color: $table-row-background-color;

  ///
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin     : 0;
    padding    : 0;
    line-height: normal;
    white-space: normal;
  }
  ///
   > *:not(input),
   > *:not(textarea),
  > *:not(select) {

    //-webkit-touch-callout      : none;
    -webkit-text-size-adjust   : none;
    //  -webkit-user-select        : none;
    -webkit-highlight          : none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  }

  > a {
    text-decoration: none;
    color          : $table-row-font-color;
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }

  ///.table-row--selected
  &--selected,
  &.iron-selected {
    background-color: $table-row-active-background-color;
    color: $table-row-active-font-color;
    @include noselect();
  }


  @include modifier ('flush') {
    padding: 0 !important;
  }
  ///.table-view--tiny
  @include modifier ('tiny') {
    padding: $table-view-padding--tiny !important;
  }

  ///.table-view--small
  @include modifier ('small') {
    padding: $table-view-padding--small !important;
  }

  ///.table-view--large
  @include modifier ('large') {
    padding: $table-view-padding--large !important;
  }
  ///.table-view--huge
  @include modifier ('huge') {
    padding: $table-view-padding--huge !important;

  }
  ///.table-row--flush
  @include modifier ('flush') {
    line-height: normal;
  }
  ///---------------------------------------------------------------
  //.table-row--header
  @include modifier ('header') {
    padding         : $table-row-header-padding;
    box-sizing      : border-box;
    font-size       : $table-row-header-font-size;
    font-weight     : 500;
    background-color: $table-row-header-background-color;
    color           : $table-row-header-font-color;
    text-transform  : $table-row-header-text-transform;
    text-shadow     : none;
    border-top      : none;
    border-bottom   : none;
    min-height      : 24px;
    line-height     : 24px;
  }


  ///.table-row--tappable
  @include modifier ('tappable') {
    cursor: pointer;
    &:active {
      @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    }
    @include noselect();


    &:active {
      transition      : none;
      background-color: $table-row-active-background-color !important;
    }

    &:active {
      .table-row__label {
        color: $table-row-active-font-color;
      }

      .table-row__content {
        color: $table-row-active-font-color !important;
      }

      .table-row__title {
        color: $table-row-active-font-color !important;
      }

      .table-row__body {
        color: $table-row-active-font-color !important;
      }
    }
  }
  ///.table-row--chevron
  @include modifier ('chevron') {
    &:active {
      @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    }
    @include noselect();
    @include tableRowIcon($table-row-chevron-icon, $table-row-chevron-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///.table-row--detail
  @include modifier ('detail') {
    .table-row__content {
      // flex-direction: row;
    }
    @include tableRowIcon($table-row-detail-icon, $table-row-detail-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
  }

  @include modifier ('switch') {
    .table-row__content {
      flex-direction: row;
    }
  }
  ///.table-row--order
  @include modifier ('order') {
    @include tableRowIcon($table-row-order-icon, $table-row-order-icon-color);
  }
  ///.table-row--edit
  @include modifier ('edit') {
    @include tableRowIcon($table-row-edit-icon, $table-row-edit-icon-color) {
      &:before {
        left : 5px;
        right: auto;
      }
    }

    > .table-row__content {
      //  padding-left: 25px;
    }
  }

  ///.table-row--collapsable
  @include modifier ('collapsable') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f107');

    .table-row__body {
      height  : 0;
      overflow: hidden;
    }

    @include modifier ('is-open') {
      @include tableRowIcon( '\f106');

      .table-row__body {
        height: auto;
      }
    }
  }

  ///.table-row--nav-left
  @include modifier ('nav-left') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f104');
  }
  ///.table-row--nav-right
  @include modifier ('nav-right') {
    @include noselect();
    @include tableRowIcon($table-row-nav-right-icon);

    &:active {
      @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    }

    .table-row__media--right {
      //  margin-right: 1rem;
    }
  }
  ///.table-row--actionable
  @include modifier ('actionable') {
    padding-right: 0 !important;

    .table-row__content {
      transition: all 0.5s;
      position  : relative;
      z-index   : 10;
    }
  }
  ///.table-row--collapsable
  @include modifier ('collapsable') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f107');

    .table-row__body {
      transition: all 0.5s;
      display   : none;
    }

    @include modifier ('is-open') {
      .table-row__body {

        display: block;
      }
    }
  }
}

///---------------------------------------------------------------------------
///---------------------------------------------------------------------------
///Elements
///---------------------------------------------------------------------------
///---------------------------------------------------------------------------
@include block ('table-row') {

  ///.table-row__content
  @include element ('content') {
    display       : flex;
    flex-direction: column;
    align-self    : center;
    order         : 2;
    width         : 100%;
    user-select   : none;
    white-space   : nowrap;
    margin-left   : $inuit-base-spacing-unit--small;

    ///.table-row__content--flush
    @include modifier ('row') {
      flex-direction: row;
    }

    @include modifier ('column') {
      flex-direction: column;
    }

    @include modifier ('flush') {
      line-height: normal;
    }

  }
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('title') {
    font-size  : $table-row-title-font-size;
    color      : $table-row-title-font-color;

    order      : 3;
    align-self : stretch;
    user-select: none;
    white-space: nowrap;
    line-height: normal;
    flex       : 1;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('subtitle') {


    order      : 4;
    align-self : stretch;
    white-space: nowrap;
    line-height: normal;
    flex       : 1;
  }
  ///.table-row__body
  @include element ('body') {
    color      : $table-row-body-font-color;
    font-size  : $table-row-body-font-size;

    order      : 5;
    line-height: normal;
    white-space: normal;

    align-self : stretch;
    flex       : 1 0 auto;
    ///.table-row__content__body--flush
    @include modifier ('flush') {}
  }
  ///---------------------------------------------------------------------------
  ///.table-row__label
  @include element ('label') {
    order       : 0;

    flex        : 1 0 6em;
    align-self  : center;
    //padding: $inuit-base-spacing-unit--tiny;

    //
    margin-right: $inuit-base-spacing-unit--small;
    ///
    @include modifier ('right') {
      text-align : left;
      order      : 4;
      margin-left: $inuit-base-spacing-unit--small;
    }
    ///
    @include modifier ('left') {
      text-align  : right;
      margin-right: 0;
    }
    ///
    @include media-breakpoint-up (sm) {}
  }
  ///---------------------------------------------------------------------------
  ///.table-row__icon
  @include element ('icon') {}
  ///---------------------------------------------------------------------------
  ///.table-row__reorder-btn
  @include element ('reorder-btn') {
    float   : right;
    position: absolute;
    right   : 5%;
    top     : 25%;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__media
  @include element ('media') {
    order          : 1;
    display        : flex;
    align-self     : center;
    justify-content: space-around;
    ///.table-row__media--left
    @include modifier ('left') {
      order: 0;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__media--right
    @include modifier ('right') {
      order: 9;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__media--toggle
    @include modifier ('toggle') {}

    ///---------------------------------------------------------------------------
    ///.table-row__media--image
    @include modifier ('image') {
      flex   : 1 0 auto;
      padding: $table-row-image-padding;

      img {
        display   : block;
        max-width : 80px;
        max-height: 80px;
      }
    }

    ///---------------------------------------------------------------------------
    ///.table-row__media--icon
    @include modifier ('icon') {
      flex      : 1 0 auto;
      align-self: center;
      padding   : $inuit-base-spacing-unit--tiny;
      //margin-left: $inuit-base-spacing-unit--small;
      text-align: center;
    }
  }

}

///---------------------------------------------------------------------------
///Checkbox styles
/// @group px-table-row
///---------------------------------------------------------------------------
@include block ('table-row') {
  &.checkbox {
    width      : 100%;
    height     : 100%;
    padding    : 0;
    margin     : 0;
    line-height: 44px;
  }
  ///.table-row__checkbox
  @include element ('checkbox') {
    position      : relative;
    display       : inline-block;
    vertical-align: top;
    cursor        : default;
    user-select   : none;
    font-weight   : 400;
    line-height   : 25px;
    margin        : 10px 0;
    white-space   : nowrap;

    input[type="checkbox"] {
      position      : absolute;
      overflow      : hidden;
      right         : 0;
      top           : 0;
      left          : 0;
      bottom        : 0;
      padding       : 0;
      border        : 0;
      opacity       : 0.001;
      z-index       : 1;
      vertical-align: top;
      outline       : none;
      width         : 100%;
      height        : 100%;
      margin        : 0;
      appearance    : none;
      height        : 0;
      width         : 0;
    }

    input[type="checkbox"]:checked {
      background: $table-row-checkbox-background-color;
    }

    input[type="checkbox"]:checked + div:before {
      background: $table-row-checkbox-background-color;
      border    : 1px solid $table-row-checkbox-checked-border-color;
      transition: background 0.4s;
    }

    &:active {
      input[type="checkbox"] + div:before,
      input[type="checkbox"]:checked + div:before {
        //  border: 1px solid $table-row-active-font-color;
      }
    }

    input[type="checkbox"]:checked + div:after {
      opacity: 1;
    }

    input[type="checkbox"]:focus + div:before {
      box-shadow: none;
    }

    input[type="checkbox"]:disabled + div {
      opacity       : 0.5;
      cursor        : default;
      pointer-events: none;
    }

    input[type="checkbox"]:disabled:focus + div:before {
      pointer-events: none;
      background    : transparent;
      box-shadow    : none;
    }
    ///.table-row__checkbox__checkmark
    @include element ('checkmark') {
      box-sizing     : border-box;
      background-clip: padding-box;
      position       : relative;
      display        : inline-block;
      vertical-align : top;
      cursor         : default;
      user-select    : none;
      font-weight    : 400;

      position       : relative;
      overflow       : hidden;
      margin-right   : 0.5rem;
      width          : 24px;
      height         : 24px;

      &:before {
        content        : '';
        position       : absolute;
        box-sizing     : border-box;
        background-clip: padding-box;
        width          : 24px;
        height         : 24px;
        background     : transparent;
        border         : 1px solid $table-row-checkbox-border-color;
        border-radius  : 0;
        box-shadow     : none;
        left           : 0;
      }

      &:after {
        content      : '';
        position     : absolute;
        top          : 8px;
        left         : 6px;
        width        : 12px;
        height       : 6px;
        background   : transparent;
        border       : 3px solid $table-row-checkbox-font-color;
        border-width : 2px;
        border-top   : none;
        border-right : none;
        border-radius: 0;
        transform    : rotate(-45deg);
        opacity      : 0;
      }
    }
    ///.table-row__checkbox--no-border
    @include modifier ('no-border') {
      background: transparent;
      border    : none;

      input[type="checkbox"] {
        background: transparent;
        //circle
        + div:before {
          border: none;
        }
        //check
        + div:after {
          //opacity:.5;
          border-color: $table-row-checkbox-background-color;
        }

        &:checked {
          //Checkbox circle
          + div:before {
            border    : none;
            background: transparent;
          }
          //Checkbox check
          + div:after {
            border-color: $table-row-checkbox-background-color;
            opacity     : 1;
          }
        }

        &:disabled {
          pointer-events: none;
          //check
          + div:after {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

///---------------------------
///---------------------------
/// Input
///---------------------------
///---------------------------
@include block ('table-row') {
  input {
    width: 100%;
  }

  .text-input {
    margin    : 0;
    min-height: 44px;
    font-size : 1.3rem;
    //  background: transparent;
    //  border    : none;
    box-shadow: none;
  }

  .btn {
    outline   : none;
    min-height: 44px;
    width     : 100%;
  }
}
