/// @group px-table-view
/// Mixins
@import "mixins";
///
@import "variables";
///
@import "px-mobile-mixin-design/mixins";
/// Table Row
/// @group px-table-row
/// @access public
.table-row {
  @include clearfix();
  font-size: 1.2rem;
  min-height: 44px;
  line-height: 44px;
  width: 100%;
  font-size: $table-row-font-size;
  font-size: var(--table-row-font-size, $table-row-font-size);
  border-color: $table-row-border-color;
  border-color: var(--table-row-border-color, $table-row-border-color);
  box-sizing: border-box;
  background-color: $table-row-background-color;
  background-color: var(--table-row-background-color, $table-row-background-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  appearance: normal;
  user-select: none;
  ///
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    line-height: normal;
    white-space: normal;
  }
  ///
  > *:not(select),
  > *:not(textarea),
  > *:not(input) {
    user-select: none;
  }
  ///
  &:first-child {}
  ///
  &:last-child {
    border-bottom: none;
  }
  ///
  &:first-child:last-child {
    border-top: none;
    border-bottom: none;
  }
  ///
  &:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $table-row-border-color;
    border-bottom-color: var(--table-row-border-color, $table-row-border-color);
  }
  ///
  &:active {
    .table-row__label {
      color: $table-row-active-font-color;
    }
  }
  ///
  > a {
    text-decoration: none;
    color: $table-row-font-color;
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///.table-row--flush
  @include modifier ('flush') {
    line-height: normal;
  }
  ///---------------------------------------------------------------
  //.table-row--header
  @include modifier ('header') {
    padding: $table-row-header-padding;
    box-sizing: border-box;
    font-size: $table-row-header-font-size;
    font-weight: 500;
    background-color: $table-row-header-background-color;
    color: $table-row-header-font-color;
    text-transform: $table-row-header-text-transform;
    text-shadow: none;
    border-top: none;
    border-bottom: none;
    min-height: 24px;
    line-height: 24px;
  }
  ///.table-row--tappable
  @include modifier ('tappable') {
    &:active {
      transition: none;
      background: $table-row-active-background-color;
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///.table-row--chevron
  @include modifier ('chevron') {
    &:active {
      transition: none;
      background: $table-row-active-background-color;
    }
    @include tableRowIcon($table-row-chevron-icon, $table-row-chevron-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///.table-row--detail
  @include modifier ('detail') {
    @include tableRowIcon($table-row-detail-icon, $table-row-detail-icon-color);
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///.table-row--order
  @include modifier ('order') {
    @include tableRowIcon($table-row-order-icon, $table-row-order-icon-color);
  }
  ///.table-row--edit
  @include modifier ('edit') {
    @include tableRowIcon($table-row-edit-icon, $table-row-edit-icon-color) {
      &:before {
        left: 5px;
        right: auto;
      }
    }
    > .table-row__content {
      //  padding-left: 25px;
    }
  }
  ///.table-row--nav-left
  @include modifier ('nav-left') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f104');
  }
  ///.table-row--nav-right
  @include modifier ('nav-right') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( $table-row-nav-right-icon );
    .table-row__media--right {
      //  margin-right: 1rem;
    }
  }
  ///.table-row--actionable
  @include modifier ('actionable') {
    .table-row__content {
      transition: all 0.5s;
      position: relative;
      z-index: 10;
    }
  }
  ///.table-row--collapsable
  @include modifier ('collapsable') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f107' );
    .table-row__body {
      transition: all 0.5s;
      height: 0;
    }
  }
}
.table-row {
  ///---------------------------------------------------------------------------
  ///---------------------------------------------------------------------------
  ///Elements
  ///---------------------------------------------------------------------------
  ///---------------------------------------------------------------------------
  ///.table-row__content
  @include element ('content') {
    display: flex;
    flex-direction: column;
    align-self: center;
    order: 2;
    width: 100%;
    user-select: none;
    white-space: nowrap;
    ///.table-row__content--flush
    @include modifier ('flush') {
      line-height: normal;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__content__title
    @include element ('title') {
      order: 3;
      align-self: flex-start;
      user-select: none;
      white-space: nowrap;
      line-height: normal;
      flex: 1;
    }
    ///.table-row__content__body
    @include element ('body') {
      line-height: normal;
      white-space: normal;
      order: 4;
      align-self: flex-start;
      flex: 1 0 auto;
      ///.table-row__content__body--flush
      @include modifier ('flush') {}
    }
  }
  ///---------------------------------------------------------------------------
  ///.table-row__label
  @include element ('label') {
    order: 0;
    color: $table-row-label-color;
    ///
    @include modifier ('right') {
      order: 4;
    }
    ///
    @include modifier ('left') {}
    ///
    @include respond ('small') {}
  }
  ///---------------------------------------------------------------------------
  ///.table-row__icon
  @include element ('icon') {}
  ///---------------------------------------------------------------------------
  ///.table-row__reorder-btn
  @include element ('reorder-btn') {
    float: right;
    position: absolute;
    right: 5%;
    top: 25%;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__media
  @include element ('media') {
    order: 1;
    display: flex;
    align-self: center;
    justify-content: space-around;
    ///.table-row__media--left
    @include modifier ('left') {
      order: 0;
    }
    ///.table-row__media--right
    @include modifier ('right') {
      order: 9;
    }
    ///.table-row__media--toggle
    @include modifier ('toggle') {}
    ///.table-row__media--image
    @include modifier ('image') {
      flex: 1 0 80px;
      img {
        display: block;
        max-width: 80px;
        max-height: 80px;
      }
    }
    ///.table-row__media--icon
    @include modifier ('icon') {
      flex: 1 0 25px;
    }
  }
  ///---------------------------------------------------------------------------
  ///.table-row__actions
  @include element ('actions') {
    overflow: hidden;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.3s ease-out;
    will-change: transform;
    z-index: 50;
    width: auto;
    //Button
    @include element ('button') {
      cursor: pointer;
      font-size: 1rem;
      margin: 0;
      color: #fff;
      border-radius: 0;
      //  padding: 2px 15px;
      min-width: 75px;
      i {
        display: block;
      }
      @include modifier ('delete') {
        @include actionButton($red);
      }
      @include modifier ('flag') {
        @include actionButton($orange);
      }
      @include modifier ('more') {
        @include actionButton($blue);
      }
      @include modifier ('info') {
        @include actionButton($gray5);
      }
    }
    //left actions
    @include modifier ('left') {
      left: 0;
      transform: translateX(-110%);
      //Visible actions
      &.is-visible {
        transform: translateX(0%);
        .table-row__actions__button {
          transition: width 300ms ease-out;
          width: auto;
        }
      }
    }
    //right actions
    @include modifier ('right') {
      right: 0;
      transform: translateX(110%);
      &.is-visible {
        transform: translateX(0%);
      }
    }
  }
}
///---------------------------------------------------------------------------
///Checkbox styles
/// @group px-table-row
///---------------------------------------------------------------------------
.table-row {
  &.checkbox {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 44px;
  }
  ///.table-row__checkbox
  @include element ('checkbox') {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    user-select: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    margin: 10px 0;
    white-space: nowrap;
    input[type="checkbox"] {
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0;
      border: 0;
      opacity: 0.001;
      z-index: 1;
      vertical-align: top;
      outline: none;
      width: 100%;
      height: 100%;
      margin: 0;
      appearance: none;
      height: 0;
      width: 0;
    }
    input[type="checkbox"]:checked {
      background: $table-row-checkbox-background-color;
    }
    input[type="checkbox"]:checked + div:before {
      background: $table-row-checkbox-background-color;
      border: 1px solid $table-row-checkbox-checked-border-color;
      transition: background 0.4s;
    }
    &:active {
      input[type="checkbox"] + div:before,
      input[type="checkbox"]:checked + div:before {
        //  border: 1px solid $table-row-active-font-color;
      }
    }
    input[type="checkbox"]:checked + div:after {
      opacity: 1;
    }
    input[type="checkbox"]:focus + div:before {
      box-shadow: none;
    }
    input[type="checkbox"]:disabled + div {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
    input[type="checkbox"]:disabled:focus + div:before {
      pointer-events: none;
      background: transparent;
      box-shadow: none;
    }
    ///.table-row__checkbox__checkmark
    @include element ('checkmark') {
      box-sizing: border-box;
      background-clip: padding-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      cursor: default;
      user-select: none;
      font-weight: 400;
      font-size: 17px;
      position: relative;
      overflow: hidden;
      margin-right: 0.5rem;
      width: 24px;
      height: 24px;
      &:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        background-clip: padding-box;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 1px solid $table-row-checkbox-border-color;
        border-radius: 0;
        box-shadow: none;
        left: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 6px;
        width: 12px;
        height: 6px;
        background: transparent;
        border: 3px solid $table-row-checkbox-font-color;
        border-width: 2px;
        border-top: none;
        border-right: none;
        border-radius: 0;
        transform: rotate(-45deg);
        opacity: 0;
      }
    }
    ///.table-row__checkbox--no-border
    @include modifier ('no-border') {
      background: transparent;
      border: none;
      input[type="checkbox"] {
        background: transparent;
        //circle
        + div:before {
          border: none;
        }
        //check
        + div:after {
          //opacity:.5;
          border-color: $table-row-checkbox-background-color;
        }
        &:checked {
          //Checkbox circle
          + div:before {
            border: none;
            background: transparent;
          }
          //Checkbox check
          + div:after {
            border-color: $table-row-checkbox-background-color;
            opacity: 1;
          }
        }
        &:disabled {
          pointer-events: none;
          //check
          + div:after {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
///---------------------------
///---------------------------
/// Input
///---------------------------
///---------------------------
.table-row {
  .text-input {
    margin: 0;
    min-height: 44px;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .btn {
    outline: none;
    min-height: 44px;
  }
}