@import 'variables';
@import 'mixins';
@import 'px-table-row-sketch.scss';


:host.iron-selected {
    @include noselect();
    background-color: $table-row-active-background-color;
    color           : $table-row-active-font-color;

    .table-row__title,
    .table-row__subtitle,
    .table-row__body,
    .table-row__label{
      color           : $table-row-active-font-color;
    }

    .table-row:before{
      color           : $table-row-active-font-color;
    }

}

/// @group px-table-row
/// @access public
@include b('table-row') {

  ::content {
    @import 'elements/_table-row__checkbox.scss';
    @import 'elements/_table-row__actions.scss';
  }

  min-height      : var(--px-table-row-min-height, $table-row-min-height);
  line-height     : var(--px-table-row-line-height, $table-row-line-height);
  font-size       : var(--px-table-row-font-size, $table-row-font-size);
  background-color: var(--px-table-row-background-color, $table-row-background-color);

  ///.table-row--selected
  &--selected {
    background-color: var(--px-table-row-selected-background-color, $table-row-active-background-color);
    color           : var(--px-table-row-selected-font-color, $table-row-active-font-color);
    @include noselect();
  }

  ///.table-row > a
  > a {
    text-decoration: none;
    color          : $table-row-font-color;
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }

  ///.table-row__title
  @include e ('title') {
    //font-size: $table-row-title-font-size;
    //color    : $table-row-title-font-color;
    font-size: var(--px-table-row-title-font-size, $table-row-title-font-size);
    color    : var(--px-table-row-title-font-color, $table-row-title-font-color);
  }

  ///.table-row__subtitle
  @include e ('subtitle') {
    //font-size: $table-row-subtitle-font-size;
    //color    : $table-row-subtitle-font-color;
    font-size: var(--px-table-row-subtitle-font-size, $table-row-subtitle-font-size);
    color    : var(--px-table-row-subtitle-font-color, $table-row-subtitle-font-color);
  }

  ///.table-row__body
  @include e ('body') {
    font-size: var(--px-table-row-body-font-size, $table-row-body-font-size);
    color    : var(--px-table-row-body-font-color, $table-row-body-font-color);
  }
  ///.table-row__label
  @include e ('label') {
    font-size: var(--px-table-row-label-font-size, $table-row-label-font-size);
    color    : var(--px-table-row-label-font-color, $table-row-label-font-color);
  }

}
