@import 'variables';
@import 'mixins';

///Objects
$inuit-enable-toggle--small: true;
$inuit-enable-toggle--huge: true;
$inuit-enable-toggle--large: true;
@import 'px-toggle-design/_objects.toggle.scss';

$inuit-enable-inline-fields: true;
$inuit-enable-input--tiny: true;
$inuit-enable-input--small: true;
$inuit-enable-input--regular: true;
$inuit-enable-input--large: true;
$inuit-enable-input--huge: true;
$inuit-enable-input--bare: true;

/// Table Row
/// @group px-table-row
/// @access public
@include block ('table-row') {
  @include c(null) {
     @import 'px-forms-design/_base.forms.scss';
  }
  @include clearfix();
  @include noselect();

  box-sizing    : border-box;
  position      : relative;
  overflow      : hidden;
  display       : flex;
  flex-direction: row;
  appearance    : normal;
  flex          : 1;

  //font-size       : $table-row-font-size;
  //background-color: $table-row-background-color;
   > *:not(input),
   > *:not(textarea),
  > *:not(select) {
    -webkit-text-size-adjust   : none;
    -webkit-highlight          : none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  ///---------------------------------------------------------------------------
  ///.table-row--tiny
  @include modifier ('tiny') {
    padding: $table-view-padding--tiny;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--small
  @include modifier ('small') {
    padding: $table-view-padding--small;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--large
  @include modifier ('large') {
    padding: $table-view-padding--large;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--huge
  @include modifier ('huge') {
    padding: $table-view-padding--huge;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--flush
  @include modifier ('flush') {
    line-height: normal;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--col
  @include modifier ('col') {
    flex-direction: column;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--center
  @include modifier ('center') {
    justify-content: center;
    align-items: center;
    align-content: center;
    > *{
      text-align: center;
      align-self: center;
    }
  }
  ///---------------------------------------------------------------------------
  //.table-row--header
  @include modifier ('divider') {
    padding-top     : 6px;
    padding-bottom  : 6px;
    padding-left    : 15px;
    margin-top      : -1px;
    margin-left     : 0;
    font-weight     : 500;
    color           : #999;
    background-color: #fafafa;
    border-top      : 1px solid #ddd;
    border-bottom   : 1px solid #ddd;

  }

  @include modifier ('header') {
    box-sizing: border-box;
  }
  ///---------------------------------------------------------------------------
  ///.table-row--tappable
  @include modifier ('tappable') {
    @include tableRowClickable($table-row-selected-background-color, $table-row-active-font-color);

    &:active {

      color           : var(--px-table-row-selected-color, $table-row-selected-color);
      background-color: var(--px-table-row-selected-background-color, $table-row-selected-background-color);

      .table-row__body,
      .table-row__label,
      .table-row__subtitle,
      .table-row__title {
        color: var(--px-table-row-selected-color, $table-row-active-font-color);
      }
    }
  }

  ///---------------------------------------------------------------------------
  ///.table-row--chevron
  @include modifier ('chevron') {
    @include tableRowIcon($table-row-chevron-icon, $table-row-chevron-icon-color);
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///---------------------------------------------------------------------------
  ///.table-row--detail
  @include modifier ('detail') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon($table-row-detail-icon, $table-row-detail-icon-color);
  }
  ///---------------------------------------------------------------------------
  ///.table-row--nav-right
  @include modifier ('nav-right') {
    @include tableRowIcon($table-row-nav-right-icon);
  }

  ///---------------------------------------------------------------------------
  ///.table-row--collapsable
  // TODO: Update to use visually hidden class
  @include modifier ('collapsable') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    border-bottom: none;
    @include tableRowIcon( '\f107');

    ~ .table-row__content {
      transition : var(--px-table-row-collapseable-transition, all 0.3s);
      display    : none;
      margin-left: $inuit-base-spacing-unit;
      .table-row {
        border-bottom: none;
      }
    }
    ///---------------------------------------------------------------------------
    @include modifier ('is-opened') {
      @include tableRowIcon( '\f106');
      ~ .table-row__content {
        display: block;
      }
    }
  }

  ///---------------------------------------------------------------------------
  /// top aligned content
  @include modifier ('top') {
    align-items: flex-start;
  }
  ///---------------------------------------------------------------------------
  /// bottom aligned content
  @include modifier ('bottom') {
    align-items: flex-end;
  }
  ///---------------------------------------------------------------------------
  /// reversed content content
  @include modifier ('bottom') {
    align-items: flex-end;
  }

  ///---------------------------------------------------------------------------
  ///Elements
  ///---------------------------------------------------------------------------

  ///---------------------------------------------------------------------------
  ///.table-row__content
  @include element ('content') {
    @include noselect();
    display       : flex;
    flex-direction: column;
    align-self    : stretch;
    order         : 2;
    //width         : 100%;
    flex          : 1;
    user-select   : none;
    //  margin: 0 $inuit-base-spacing-unit;
    //margin-left: $inuit-base-spacing-unit--small;
    ///---------------------------------------------------------------------------
    @include modifier ('row') {
      flex-direction: row;
    }

    ///---------------------------------------------------------------------------
    @include modifier ('column') {
      flex-direction: column;
    }

    ///---------------------------------------------------------------------------
    @include modifier ('flush') {
      line-height: normal;
    }

  }
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('title') {
    @include noselect();
    order      : 3;
    line-height: normal;
    flex       : 1 0 auto;
    align-items: center;
    align-self : stretch;
    display    : flex;
    white-space: nowrap;
    //flex-direction: column;
    //align-content: flex-end;
    //justify-content: flex-end;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('subtitle') {
    order      : 4;
    align-self : stretch;
    white-space: nowrap;
    line-height: normal;
    flex       : 1 0 auto;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__body
  @include element ('body') {
    order      : 5;
    align-self : stretch;
    flex       : 1 0 auto;
    white-space: normal;
    line-height: normal;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__label
  @include element ('label') {
    order     : 0;
    align-self: center;
    @include modifier ('right') {
      text-align   : left;
      order        : 4;
      //padding-right: $inuit-base-spacing-unit;
    }

    @include modifier ('left') {
      //-left: $inuit-base-spacing-unit;
    }
  }
  ///---------------------------------------------------------------------------
  ///.table-row__icon
  @include element ('icon') {
    margin-right: var(--px-table-row-icon-margin-right, $inuit-base-spacing-unit);
  }
  ///---------------------------------------------------------------------------
  ///.table-row__reorder-btn
  @include element ('reorder-btn') {
    float   : right;
    position: absolute;
    right   : 5%;
    top     : 25%;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__media
  @include element ('media') {
    flex           : 0 1 auto;
    order          : 1;
    display        : flex;
    align-self     : stretch;
    justify-content: center;
    align-content  : center;
    flex-direction : column;
    margin-left: var(--px-table-row-media-margin, $inuit-base-spacing-unit--small);
    margin-right: var(--px-table-row-media-margin, $inuit-base-spacing-unit--small);
    ///---------------------------------------------------------------------------
    ///.table-row__media--left
    @include modifier ('left') {
      order: 0;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__media--right
    @include modifier ('right') {
      //margin-right: $inuit-base-spacing-unit;
      margin-right: var(--px-table-row-media-margin-right, 0);
      order       : 9;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__media--toggle
    @include modifier ('toggle') {}

    ///---------------------------------------------------------------------------
    ///.table-row__media--image
    @include modifier ('image') {
      // padding: $table-row-image-padding;

      img {
        display   : block;
        max-width : 80px;
        max-height: 80px;
      }
    }

    ///---------------------------------------------------------------------------
    ///.table-row__media--icon
    @include modifier ('icon') {

      //padding     : $inuit-base-spacing-unit--tiny;
      //margin-left: $inuit-base-spacing-unit--small;
    }
  }

  ///---------------------------------------------------------------------------
  @include modifier ('switch') {
    .table-row__content {
      flex-direction: row;
    }
  }

  &.checkbox {
    width      : 100%;
    height     : 100%;
    padding    : 0;
    margin     : 0;
    line-height: 44px;
  }

  ///---------------------------------------------------------------------------
  /// Inputs
  ///---------------------------------------------------------------------------
  @include c ('input') {
    //width: 100%;
  }

  .text-input {
    margin    : 0;
    min-height: 44px;
    font-size : 1.3rem;
    //  background: transparent;
    //  border    : none;
    box-shadow: none;
  }

  .btn {
    outline   : none;
    min-height: 44px;
    width     : 100%;
  }

}
