@import 'variables';
@import 'mixins';


/// Table Row
/// @group px-table-row
/// @access public
@include block ('table-row') {
  @include clearfix();
  @include noselect();

  align-self    : center;
  //width         : 100%;
  box-sizing    : border-box;
  position      : relative;
  overflow      : hidden;
  display       : flex;
  flex-direction: row;
  margin        : 0;
  padding       : 0;
  appearance    : normal;
  user-select   : none;
  //font-size       : $table-row-font-size;
  //background-color: $table-row-background-color;

   > *:not(input),
   > *:not(textarea),
  > *:not(select) {
    -webkit-text-size-adjust   : none;
    -webkit-highlight          : none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  }

  @include modifier ('flush') {
    padding: 0 !important;
  }
  ///.table-row--tiny
  @include modifier ('tiny') {
    padding: $table-view-padding--tiny;
  }
  ///.table-row--small
  @include modifier ('small') {
    padding: $table-view-padding--small;
  }
  ///.table-row--large
  @include modifier ('large') {
    padding: $table-view-padding--large;
  }
  ///.table-row--huge
  @include modifier ('huge') {
    padding: $table-view-padding--huge;

  }
  ///.table-row--flush
  @include modifier ('flush') {
    line-height: normal;
  }
  ///---------------------------------------------------------------
  //.table-row--header
  @include modifier ('header') {
    padding         : $table-row-header-padding;
    box-sizing      : border-box;
    font-size       : $table-row-header-font-size;
    font-weight     : 500;
    background-color: $table-row-header-background-color;
    color           : $table-row-header-font-color;
    text-transform  : $table-row-header-text-transform;
    text-shadow     : none;
    border-top      : none;
    border-bottom   : none;
    min-height      : 24px;
    line-height     : 24px;
  }

  ///.table-row--tappable
  @include modifier ('tappable') {
    @include noselect();
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color){
      &:active {
        transition      : none;
        background-color: $table-row-active-background-color !important;

        .table-row__label {
          color: $table-row-active-font-color;
        }

        .table-row__content {
          color: $table-row-active-font-color !important;
        }

        .table-row__title {
          color: $table-row-active-font-color !important;
        }

        .table-row__body {
          color: $table-row-active-font-color !important;
        }
      }
    }
  }
  ///.table-row--chevron
  @include modifier ('chevron') {
    &:active {
      @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    }
    @include noselect();
    @include tableRowIcon($table-row-chevron-icon, $table-row-chevron-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
  }
  ///.table-row--detail
  @include modifier ('detail') {
    .table-row__content {
      // flex-direction: row;
    }
    @include tableRowIcon($table-row-detail-icon, $table-row-detail-icon-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color) {
      &:active {
        color: $table-row-active-font-color;
      }
    }
  }

  @include modifier ('switch') {
    .table-row__content {
      flex-direction: row;
    }
  }
  ///.table-row--order
  @include modifier ('order') {
    @include tableRowIcon($table-row-order-icon, $table-row-order-icon-color);
  }
  ///.table-row--edit
  @include modifier ('edit') {
    @include tableRowIcon($table-row-edit-icon, $table-row-edit-icon-color) {
      &:before {
        left : 5px;
        right: auto;
      }
    }

    > .table-row__content {
      //  padding-left: 25px;
    }
  }

  ///.table-row--collapsable
  @include modifier ('collapsable') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f107');

    .table-row__body {
      height  : 0;
      overflow: hidden;
    }

    @include modifier ('is-open') {
      @include tableRowIcon( '\f106');

      .table-row__body {
        height: auto;
      }
    }
  }

  ///.table-row--nav-left
  @include modifier ('nav-left') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f104');
  }
  ///.table-row--nav-right
  @include modifier ('nav-right') {
    @include noselect();
    @include tableRowIcon($table-row-nav-right-icon);

    &:active {
      @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    }

    .table-row__media--right {
      //  margin-right: 1rem;
    }
  }
  ///.table-row--actionable
  @include modifier ('actionable') {
    padding-right: 0 !important;

    .table-row__content {
      transition: all 0.5s;
      position  : relative;
      z-index   : 10;
    }
  }
  ///.table-row--collapsable
  @include modifier ('collapsable') {
    @include tableRowClickable($table-row-active-background-color, $table-row-active-font-color);
    @include tableRowIcon( '\f107');

    .table-row__body {
      transition: all 0.5s;
      display   : none;
    }

    @include modifier ('is-open') {
      .table-row__body {

        display: block;
      }
    }
  }

  ///---------------------------------------------------------------------------
  ///---------------------------------------------------------------------------
  ///Elements
  ///---------------------------------------------------------------------------
  ///---------------------------------------------------------------------------

  ///.table-row__content
  @include element ('content') {
    display       : flex;
    flex-direction: column;
    align-self    : center;
    order         : 2;
    width         : 100%;
    user-select   : none;
    white-space   : nowrap;
    margin-left   : $inuit-base-spacing-unit--small;

    ///.table-row__content--flush
    @include modifier ('row') {
      flex-direction: row;
    }

    @include modifier ('column') {
      flex-direction: column;
    }

    @include modifier ('flush') {
      line-height: normal;
    }

  }
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('title') {
    font-size  : $table-row-title-font-size;
    color      : $table-row-title-font-color;

    order      : 3;
    align-self : stretch;
    user-select: none;
    white-space: nowrap;
    line-height: normal;
    flex       : 1;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__title
  @include element ('subtitle') {

    order      : 4;
    align-self : stretch;
    white-space: nowrap;
    line-height: normal;
    flex       : 1;
  }
  ///.table-row__body
  @include element ('body') {
    color      : $table-row-body-font-color;
    font-size  : $table-row-body-font-size;

    order      : 5;
    line-height: normal;
    white-space: normal;

    align-self : stretch;
    flex       : 1 0 auto;
    ///.table-row__content__body--flush
    @include modifier ('flush') {}
  }
  ///---------------------------------------------------------------------------
  ///.table-row__label
  @include element ('label') {
    order       : 0;

    flex        : 1 0 6em;
    align-self  : center;
    //padding: $inuit-base-spacing-unit--tiny;

    //
    margin-right: $inuit-base-spacing-unit--small;
    ///
    @include modifier ('right') {
      text-align : left;
      order      : 4;
      margin-left: $inuit-base-spacing-unit--small;
    }
    ///
    @include modifier ('left') {
      text-align  : right;
      margin-right: 0;
    }
    ///
    @include media-breakpoint-up (sm) {}
  }
  ///---------------------------------------------------------------------------
  ///.table-row__icon
  @include element ('icon') {}
  ///---------------------------------------------------------------------------
  ///.table-row__reorder-btn
  @include element ('reorder-btn') {
    float   : right;
    position: absolute;
    right   : 5%;
    top     : 25%;
  }
  ///---------------------------------------------------------------------------
  ///.table-row__media
  @include element ('media') {
    order          : 1;
    display        : flex;
    align-self     : center;
    justify-content: space-around;
    ///.table-row__media--left
    @include modifier ('left') {
      order: 0;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__media--right
    @include modifier ('right') {
      order: 9;
    }
    ///---------------------------------------------------------------------------
    ///.table-row__media--toggle
    @include modifier ('toggle') {}

    ///---------------------------------------------------------------------------
    ///.table-row__media--image
    @include modifier ('image') {
      flex   : 1 0 auto;
      padding: $table-row-image-padding;

      img {
        display   : block;
        max-width : 80px;
        max-height: 80px;
      }
    }

    ///---------------------------------------------------------------------------
    ///.table-row__media--icon
    @include modifier ('icon') {
      flex      : 1 0 auto;
      align-self: center;
      padding   : $inuit-base-spacing-unit--tiny;
      //margin-left: $inuit-base-spacing-unit--small;
      text-align: center;
    }
  }

  ///---------------------------------------------------------------------------
  ///Checkbox styles
  /// @group px-table-row

  &.checkbox {
    width      : 100%;
    height     : 100%;
    padding    : 0;
    margin     : 0;
    line-height: 44px;
  }



  ///---------------------------
  ///---------------------------
  /// Input
  ///---------------------------
  ///---------------------------

  input {
    width: 100%;
  }

  .text-input {
    margin    : 0;
    min-height: 44px;
    font-size : 1.3rem;
    //  background: transparent;
    //  border    : none;
    box-shadow: none;
  }

  .btn {
    outline   : none;
    min-height: 44px;
    width     : 100%;
  }
}
