@import '../variables';
@import '../mixins';





///.table-view--tiny
@include modifier ('tiny') {
  @include c('.table-row') {
    padding: $inuit-base-spacing-unit--tiny;
  }
}

///.table-view--small
@include modifier ('small') {
  @include c('.table-row') {
    padding: $inuit-base-spacing-unit--small;
  }
}

///.table-view--large
@include modifier ('large') {
  @include c('.table-row') {
    padding: $inuit-base-spacing-unit--large;
  }
}

///.table-view--huge
@include modifier ('huge') {
  @include c('.table-row') {
    padding: $inuit-base-spacing-unit--huge;
  }
}

///.table-view--flush
@include modifier ('flush') {
  @include c('.table-row') {
    padding: 0 !important;
  }
}

@include c('.table-row') {
  padding: $inuit-base-spacing-unit;
}
