html, body{
	//background-color: #ebebeb;
}

/*
Sizes:

.palm         - 47.9375rem       - 767px
.lap          - 48rem / 68.20rem - 768px / 1091px
.lap-and-up   - 48rem            - 768px
.desk         - 68.26rem - 1092px
.desk-wide    - 80rem - 1280px;

*/

@mixin icon($icon){
	 &:before {
				transform  : translateY(-50%);
				font-style : normal;
				font-weight: normal;
				position   : absolute;
				right      : 12px;
				top        : 50%;
				color      : #ccc;
				line-height: 28px;
				height     : 28px;
				font-size  : 28px;
				font-family: FontAwesome;
		 content    : '#{$icon}';
			}
@content;
}

$gray: #ccc;


.navbar{
	display: flex;
	flex-direction: row;
  border-bottom:1px solid $gray;
	background: #fff;
	
	.btn{
		outline: 0;
		user-select:none;
	}
	
	&__left{
	  order: 1;
		flex: 1 0 auto;
	}

	&__center{
		order: 2;
		flex: 1 0 auto;
		align-self:center;
	}
	
	&__right{
		order: 3;
	}

}

.tabs{
	margin: 0;
	padding: 0;
	list-style-type:none;
	display: flex;
	flex-direction: row;
	
	.tab__item{
		text-align: center;
    flex: 1 0 100px;
		text-transform: uppercase;
		
		&.active{
			border-bottom: 2px solid #000;
		}
	}
}

.show-for-sr{
	display:none;
}

.viewport{
	.div {
		border: 1px solid #333;
	}
}
.breadcrumbs {
	li:after{
		content: ' > ';
	}
	li:last-child:after{
		content: ''
	}
	.disabled{
		opacity: .5;
		cursor: disabled;
	}
}
	.list-ui{
		border-top: none;
	}






////
/// @group drilldown
////
/// Transition property to use for animating menus.
$drilldown-transition: transform 0.14s linear !default;
/// Adds arrows to drilldown items with submenus
$drilldown-arrows: true !default;
/// Sets drilldown arrow color if arrow is used.
$drilldown-arrow-color: #333 !default;
/// Background color for drilldown submenus.
$drilldown-background: #fff !default;
$drilldown-list-background-color: crimson;






.drilldown{
	transition: all .4s;
	border-top:none;
	display: flex;
	flex-direction: column;

	&.is-open{
		.drilldown__context{
			@include icon('\f068');				
		}
		.drilldown__menu{
			background-color:$drilldown-list-background-color;
			opacity: 1;
		}
	}

	.drilldown__menu{
		//display:none;
		opacity: 0;

		a{
			line-height: 44px;
		}
	}

		
	.drilldown__context{
		position:relative;
		padding: 1rem;
		background: #eee;
		border-bottom: 1px solid $gray;
		cursor: pointer;
		display: block;
		box-sizing: border-box;
		overflow:hidden;
		user-select:none;
		@include icon('\f067');

	}
	
		// Applied to the Menu container
	.is-drilldown {
		position: relative;

		overflow: auto;
		width: 100%;
		.js-drilldown-back a:before {
				content: '';
				left: 0;
		}
		li {
			display: block !important;
			cursor: pointer;
			margin: 0;
			padding: 0;
			&:hover{
			}
			a{
				position: relative;
				display:block;
				width: 100%;
				margin: 0;
				padding: 0;
				@include icon('\f105');
			}
		}
	}



// Applied to nested <ul>s
.is-drilldown-submenu {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: $drilldown-background;
	transition: $drilldown-transition;

	&.is-active {
		z-index: 1;
		display: block;
		transform: translateX(-100%);
	}

	&.is-closing {
		transform: translateX(100%);
	}
}

@if $drilldown-arrows {
	.is-drilldown-submenu-parent > a {
		position: relative;
		&::after {
			position: absolute;
			top: 50%;
			margin-top: -6px;
		}
	}
	.js-drilldown-back > a::before {
		border-left-width: 0;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.75rem; 
	}
}

}








