.box {
    background: #fff;
    margin: 10px;
  }

  .color-white {
    color: #fff;
  }

  .demo{
    padding: 10px;
  }


.color-red {
  color: #e53838;
}
.color-blue{
  color: #4364dd;
}
.color-orange{
  color: #dd6b1f;
}

/**

<div class="pink">Large desktop</div>
<div class="green">Portrait tablet to landscape and desktop</div>
<div class="blue">Landscape phone to portrait tablet</div>
<div class="red">Landscape phones and down</div>
*/


/* Large desktop 1200 */

@media (min-width: 75em) {
  .debug .list-ui {
    background: pink !important;
  }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 48em) and (max-width: 62em) {
  .debug .list-ui {
    background: lime !important;
  }
}


/* Landscape phone to portrait tablet */

@media (max-width: 48em) {
  .debug .list-ui {
    background: purple !important;
  }
}


/* Landscape phones and down */

@media (max-width: 30em) {
  .debug .list-ui {
    background: red !important;
  }
}


/* Large desktop */

@media (min-width: 75em) {
  .list-ui {}
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 48em) and (max-width: 62em) {
  .list-ui {}
}


/* Landscape phone to portrait tablet */

@media (max-width: 48em) {
  .list-ui {}
}


/* Landscape phones and down */

@media (max-width: 30em) {
  .list-ui {}
}
