.box {
    background: #fff;
    margin: 10px;
  }

  .color-white {
    color: #fff;
  }

  .background-color-gray {
    background-color: #c7c7cc;
  }

  .background-color-red {
    background-color: #fb413d;
  }

  .background-color-orange {
    background-color: #fd9427;
  }

  .background-color-blue {
    background-color: #177efb;
  }

  html, body {
     background: #efeff4;
  }
  .demo{
    padding: 10px;
  }


  .examples h2 {
    padding: 20px 5px 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: normal;
    color: #888;
    text-shadow: 0 1px 1px #fff;
    margin-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.green {
  background: lime;
}

.purple {
  background: purple;
}

.pink {
  background: pink;
}

.red {
  background: #FE3F35;
}

.color-red {
  color: #FE3F35;
}
.color-blue{
  color: blue;
}
.color-orange{
  color: orange;
}

/**

<div class="pink">Large desktop</div>
<div class="green">Portrait tablet to landscape and desktop</div>
<div class="blue">Landscape phone to portrait tablet</div>
<div class="red">Landscape phones and down</div>
*/


/* Large desktop 1200 */

@media (min-width: 75em) {
  .debug .list-ui {
    background: pink !important;
  }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 48em) and (max-width: 62em) {
  .debug .list-ui {
    background: lime !important;
  }
}


/* Landscape phone to portrait tablet */

@media (max-width: 48em) {
  .debug .list-ui {
    background: purple !important;
  }
}


/* Landscape phones and down */

@media (max-width: 30em) {
  .debug .list-ui {
    background: red !important;
  }
}


/* Large desktop */

@media (min-width: 75em) {
  .list-ui {}
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 48em) and (max-width: 62em) {
  .list-ui {}
}


/* Landscape phone to portrait tablet */

@media (max-width: 48em) {
  .list-ui {}
}


/* Landscape phones and down */

@media (max-width: 30em) {
  .list-ui {}
}
